<!-- 광고 모달 -->
<div class="modal fade" id="adModal" tabindex="-1" aria-labelledby="adModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-0 border-0 overflow-hidden">
            <img src="/image/advertisement/signup-event2.png" alt="광고 이미지" class="w-100"/>

            <div class="d-flex justify-content-between p-3">
                <button id="dismissTodayBtn" class="btn btn-secondary">오늘 하루 보지 않기</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
