<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon"
          href="/image/logo.png"
          type="image/x-icon">
    <title>로그인 페이지</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/common/frame.css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/auth/login.css"/>
</head>

<body>

<div th:insert="~{common/header}"></div>

<div class="wrapper">
    <div class="main-content">
        <div class="row justify-content-center no-gutters">
            <div class="col-md-6">
                <h2 class="text-center mb-4">로그인</h2>
                <form class="login-form-container" action="/auth/login" method="post">
                    <div class="form-group">
                        <label for="identifier"><i class="fas fa-envelope"></i> 아이디</label>
                        <input id="identifier" type="text" name="identifier" class="form-control"
                               placeholder="아이디를 입력해주세요"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="fas fa-lock"></i> 비밀번호</label>
                        <input id="password" type="password" name="password" class="form-control"
                               placeholder="비밀번호를 입력해주세요" required>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" id="loginButton" class="btn btn-primary btn-block" onclick="login()">로그인
                        </button>
                    </div>

                    <hr style="width: 100%"/>

                    <div class="oauth-container">
                        <div class="login-button">
                            <a href="/oauth2/authorization/google" class="btn-oauth">Google 로그인</a>
                        </div>
                        <div class="login-button">
                            <a href="/oauth2/authorization/naver" class="btn-oauth">Naver 로그인</a>
                        </div>
                        <div class="login-button">
                            <a href="/oauth2/authorization/kakao" class="btn-oauth">Kakao 로그인</a>
                        </div>
                    </div>

                    <hr style="width: 100%"/>

                    <div class="form-group text-center">
                        <a href="/users/recover/identifier" class="btn-oauth">아이디 찾기</a>
                        <a href="/users/recover/password" class="btn-oauth">비밀번호 찾기</a>
                        <a href="/users/signup" class="btn-oauth">회원가입</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{common/footer}"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
