<a th:href="@{/users/admin}">
    <div class="my-page-menu-icon"><i class="fa-solid fa-user-shield"></i></div>
    관리자 메인
</a>
<a th:href="@{/statusTypes}">
    <div class="my-page-menu-icon"><i class="fa fa-list-alt"></i></div>
    상태 유형
</a>
<a th:href="@{/statuses}">
    <div class="my-page-menu-icon"><i class="fa fa-tasks"></i></div>
    상태
</a>
<a th:href="@{/categories}">
    <div class="my-page-menu-icon"><i class="fa fa-tags"></i></div>
    카테고리
</a>
<a th:href="@{/users}">
    <div class="my-page-menu-icon"><i class="fa fa-users"></i></div>
    회원
</a>
<a th:href="@{/grades}">
    <div class="my-page-menu-icon"><i class="fa fa-star"></i></div>
    회원 등급
</a>
<a th:href="@{/roles}">
    <div class="my-page-menu-icon"><i class="fa fa-id-badge"></i></div>
    권한
</a>
<a th:href="@{/points}">
    <div class="my-page-menu-icon"><i class="fa fa-trophy"></i></div>
    포인트
</a>
<a th:href="@{/posts/all}">
    <div class="my-page-menu-icon"><i class="fa fa-store"></i></div>
    게시글
</a>
<a th:href="@{/users/admin/comments}">
    <div class="my-page-menu-icon"><i class="fa fa-comment"></i></div>
    댓글
</a>
<a th:href="@{/reportTypes}">
    <div class="my-page-menu-icon"><i class="fa fa-tags"></i></div>
    신고 유형
</a>
<a th:href="@{/postReports}">
    <div class="my-page-menu-icon"><i class="fa fa-exclamation-circle"></i></div>
    신고 게시글
</a>
<a th:href="@{/commentReports}">
    <div class="my-page-menu-icon"><i class="fa fa-comments"></i></div>
    신고 댓글
</a>
<a th:href="@{/userStops}">
    <div class="my-page-menu-icon"><i class="fa fa-lock"></i></div>
    회원 정지
</a>