<link rel="stylesheet" type="text/css" media="screen" href="/css/common/category-menu.css"/>

<div class="category-menu">
    <!-- 음식 -->
    <div class="category-item">
        <a href="/posts?categoryName=음식">음식</a>
        <div class="sub-category">
            <a href="/posts?categoryName=한식">한식</a>
            <a href="/posts?categoryName=양식">양식</a>
            <a href="/posts?categoryName=중식">중식</a>
            <a href="/posts?categoryName=일식">일식</a>
            <a href="/posts?categoryName=치킨">치킨</a>
            <a href="/posts?categoryName=피자">피자</a>
            <a href="/posts?categoryName=햄버거">햄버거</a>
            <a href="/posts?categoryName=족발보쌈">족발보쌈</a>
            <a href="/posts?categoryName=분식">분식</a>
            <a href="/posts?categoryName=카페">카페</a>
        </div>
    </div>
    <!-- 패션/의류 -->
    <div class="category-item">
        <a href="/posts?categoryName=패션">패션</a>
        <div class="sub-category">
            <a href="/posts?categoryName=남성웨어">남성웨어</a>
            <a href="/posts?categoryName=여성웨어">여성웨어</a>
            <a href="/posts?categoryName=상의">상의</a>
            <a href="/posts?categoryName=하의">하의</a>
            <a href="/posts?categoryName=모자">모자</a>
            <a href="/posts?categoryName=장갑">장갑</a>
            <a href="/posts?categoryName=신발">신발</a>
            <a href="/posts?categoryName=액세서리">액세서리</a>
        </div>
    </div>
    <!-- 뷰티/화장품 -->
    <div class="category-item">
        <a href="/posts?categoryName=뷰티">뷰티</a>
        <div class="sub-category">
            <a href="/posts?categoryName=메이크업">메이크업</a>
            <a href="/posts?categoryName=스킨케어">스킨케어</a>
            <a href="/posts?categoryName=헤어">헤어</a>
            <a href="/posts?categoryName=향수">향수</a>
        </div>
    </div>
    <!-- 가전/전자 -->
    <div class="category-item">
        <a href="/posts?categoryName=전자제품">전자제품</a>
        <div class="sub-category">
            <a href="/posts?categoryName=PC">PC</a>
            <a href="/posts?categoryName=TV">TV</a>
            <a href="/posts?categoryName=태블릿">태블릿</a>
            <a href="/posts?categoryName=핸드폰">핸드폰</a>
            <a href="/posts?categoryName=세탁기">세탁기</a>
            <a href="/posts?categoryName=건조기">건조기</a>
            <a href="/posts?categoryName=냉장고">냉장고</a>
            <a href="/posts?categoryName=생활가전">생활가전</a>
        </div>
    </div>
    <!-- 축제 -->
    <div class="category-item">
        <a href="/posts?categoryName=축제">축제</a>
        <div class="sub-category">
            <a href="/posts?categoryName=계절">계절</a>
            <a href="/posts?categoryName=불꽃">불꽃</a>
            <a href="/posts?categoryName=먹거리">먹거리</a>
            <a href="/posts?categoryName=빛">빛</a>
            <a href="/posts?categoryName=꽃">꽃</a>
            <a href="/posts?categoryName=음악">음악</a>
            <a href="/posts?categoryName=문화">문화</a>
        </div>
    </div>
    <!-- 엔터 -->
    <div class="category-item">
        <a href="/posts?categoryName=엔터">엔터</a>
        <div class="sub-category">
            <a href="/posts?categoryName=콘서트">콘서트</a>
            <a href="/posts?categoryName=팝업스토어">팝업스토어</a>
            <a href="/posts?categoryName=공연">공연</a>
            <a href="/posts?categoryName=경기">경기</a>
        </div>
    </div>
    <!-- 카드/금융 -->
    <div class="category-item">
        <a href="/posts?categoryName=금융">금융</a>
        <div class="sub-category">
            <a href="/posts?categoryName=신용카드">신용카드</a>
            <a href="/posts?categoryName=체크카드">체크카드</a>
            <a href="/posts?categoryName=적금">적금</a>
            <a href="/posts?categoryName=예금">예금</a>
            <a href="/posts?categoryName=캐시백">캐시백</a>
        </div>
    </div>

    <div class="category-item">
        <a href="/posts?categoryName=공지">공지</a>
    </div>

    <div class="category-item">
        <a href="/posts?categoryName=자유">자유</a>
    </div>

    <div class="category-item">
        <a href="/posts?categoryName=맛집">맛집</a>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/common/category-menu.js"></script>

