<link rel="stylesheet" type="text/css" media="screen" href="/css/common/category-menu.css"/>

<div id="category-dropdown" class="categories-container hidden">
    <div>
        <a href="#">한식</a>
        <div class="sub-menu hidden">
            <a href="#">찌개류</a>
            <a href="#">볶음류</a>
            <a href="#">구이류</a>
        </div>
    </div>
    <div>
        <a href="#">양식</a>
        <div class="sub-menu hidden">
            <a href="#">파스타</a>
            <a href="#">스테이크</a>
            <a href="#">피자</a>
        </div>
    </div>
    <div>
        <a href="#">중식</a>
        <div class="sub-menu hidden">
            <a href="#">면류</a>
            <a href="#">밥류</a>
            <a href="#">튀김류</a>
        </div>
    </div>
    <div>
        <a href="#">일식</a>
        <div class="sub-menu hidden">
            <a href="#">스시</a>
            <a href="#">라멘</a>
            <a href="#">덮밥</a>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/common/category-menu.js"></script>