<!-- 왼쪽 하단 공유 버튼 영역 -->
<div class="floating-share-container">
    <div id="shareBtns" class="share-buttons-horizontal">
        <a id="btnTwitter" class="link-icon x" href="javascript:shareX()"></a>
        <a id="btnFacebook" class="link-icon facebook" href="javascript:shareFacebook()"></a>
        <a id="btnKakao" class="link-icon kakao"></a>
        <button id="copyBtn" class="link-icon" onclick="copy()"><i class="fa-regular fa-paste"></i></button>
    </div>

    <button id="shareBtn" class="functionBtn">
        <i class="fa-solid fa-share-nodes"></i>
    </button>
</div>

<!--스크롤 버튼-->
<button class="functionBtn" id="scrollToTopBtn" title="맨 위로">
    <i class="fa-solid fa-arrow-up"></i>
</button>

<button class="functionBtn" id="scrollToBottomBtn" title="맨 아래로">
    <i class="fa-solid fa-arrow-down"></i>
</button>