<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <div style="white-space: wrap; place-items: center">
            <h1 style="color: #d50000">ERROR</h1>
            <br/>
            <div style="color: #333333; word-wrap: break-word"
                 th:text="${status != null ? 'Status Code: ' + status : ''}"></div>
            <br/>
            <div style="color: #333333; word-wrap: break-word"
                 th:text="'Timestamp: ' + ${#temporals.format(timestamp, 'yyyy-MM-dd HH:mm')}"></div>
            <br/>
            <div style="color: #333333; word-wrap: break-word"
                 th:text="${errorMessage != null ? 'Message: '+ errorMessage : ''}"></div>
            <br/>
            <a href="javascript:history.back()">돌아가기</a>
        </div>
    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
