<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <div class="row justify-content-center no-gutters">
            <div class="col-md-6">
                <section id="error-container" style="display: grid; place-items: center">

                    <h5 style="color: #d50000">ERROR</h5>
                    <br/>
                    <p style="color: #333333; word-wrap: break-word"
                       th:text="${message != null ? 'Message: '+ message : ''}"></p>
                    <br/>
                    <p style="color: #333333; word-wrap: break-word"
                       th:text="${status != null ? 'Status Code: ' + status : ''}"></p>
                    <br/>
                    <p style="color: #333333; word-wrap: break-word"
                       th:text="'Timestamp: ' + ${#temporals.format(timestamp, 'yyyy-MM-dd HH:mm')}"></p>
                    <br/>
                    <a href="javascript:history.back()">돌아가기</a>

                </section>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
