<div class="footer-container">
    <div class="footer-row">
        <div class="footer-left">
            <p>광고 문의 이메일: eventor2025@naver.com</p>
            <div class="footer-social">
                <a href="https://blog.naver.com/eventor2025" target="_blank" aria-label="네이버 블로그">
                    <i class="fa-solid fa-blog"></i>
                </a>
                <a href="https://www.instagram.com/eventor_2025/" target="_blank" aria-label="인스타그램">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.youtube.com/@Eventor2025" target="_blank" aria-label="유튜브">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
        <div class="footer-right">
            <p><a href="/terms/1">개인정보처리방침</a></p>
            <p><a href="/terms/2">서비스약관</a></p>
        </div>
    </div>
    <div class="footer-bottom">
        <span>Copyright © 2025 Eventor. All Rights Reserved.</span>
    </div>
</div>