<section id="header">
    <div class="top-container">
        <div class="first-container">
            <a href="/" class="site-brand">
                <img class="logo-image" src="/image/logo.png" alt="로고">
            </a>

            <a href="/" class="site-name">EVENTOR</a>

            <form class="search-form" action="/posts/search" method="get">
                <input class="search-input" type="text" name="keyword" placeholder="통합 검색">
                <button class="search-button" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>

        <div class="second-container">
            <div class="second-container-content">
                <div class="category-menu" th:insert="~{common/category-menu}"></div>

                <div class="right-menu">
                    <a id="myPageLink" th:href="@{/users/me}" style="white-space: nowrap; display:none;">
                        <i class="fa-solid fa-user"></i>
                        <span>마이페이지</span>
                    </a>

                    <form id="loginForm" action="/auth/login" method="get">
                        <button class="btn btn-sm btn-outline-primary" id="login" style="display:none;">로그인</button>
                    </form>
                    <form id="logoutForm" action="/auth/logout" method="post">
                        <button class="btn btn-sm btn-outline-primary" id="logout" style="display:none;">로그아웃</button>
                    </form>

                </div>
            </div>
        </div>

        <div class="third-container">
            <div>

            </div>
        </div>
    </div>

</section>



