<section id="header">
    <div class="top-container">
        <div class="first-container">
            <a href="/" class="site-brand">
                <img class="logo-image" src="/image/logo.png" alt="로고">
                <span class="site-name">EVENTOR</span>
            </a>
        </div>

        <div class="second-container">
            <div class="second-container-content">
                <div class="category-menu" th:insert="~{common/category-menu}"></div>

                <div class="right-menu">
                    <div th:insert="~{common/right-sidebar}"></div>

                    <a id="myPageLink" href="/users/me" style="display:none;">
                        <i class="fa-solid fa-user"></i>
                        <span>My</span>
                    </a>

                    <form id="loginForm" action="/auth/login" method="get">
                        <button class="btn btn-sm btn-custom" id="login" style="display:none;">
                            <strong>로그인</strong>
                        </button>
                    </form>

                    <form id="logoutForm" action="/auth/logout" method="post">
                        <button class="btn btn-sm btn-custom" id="logout" style="display: none;">
                            <strong>로그아웃</strong>
                        </button>
                    </form>

                </div>
            </div>
        </div>

        <div class="third-container">
            <div>

            </div>
        </div>
    </div>

</section>



