<div id="alertBox" class="alert-box">
    <span id="alertMessage"></span>
    <span class="closeBtn" onclick="closeAlert()">&times;</span>
</div>

<div id="alertBox2" class="alert-box" th:if="${message}">
    <span id="alertMessage2" th:text="${message}"></span>
    <span class="closeBtn" onclick="closeAlert2()">&times;</span>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const alertBox = document.getElementById("alertBox2");
        if (alertBox) {
            alertBox.classList.add("show"); // `show` 클래스 추가하여 표시

            // 5초 후 알림 박스 숨기기
            setTimeout(() => {
                alertBox.classList.remove('show');
            }, 5000);
        }

        const alertMessage = sessionStorage.getItem("alertMessage");

        if (alertMessage) {
            const alertBox = document.getElementById("alertBox");
            const alertMessageElement = document.getElementById("alertMessage");

            alertMessageElement.innerText = alertMessage;
            alertBox.classList.add("show");

            // 5초 후 알림 박스 숨기기
            setTimeout(() => {
                alertBox.classList.remove('show');
            }, 5000);

            // 메시지를 표시한 후 sessionStorage 에서 제거
            sessionStorage.removeItem("alertMessage");
        }
    });

    function alertMessage(message) {
        const alertBox = document.getElementById('alertBox');
        const alertMessage = document.getElementById('alertMessage');

        alertMessage.innerText = message;
        alertBox.classList.add('show');

        // 5초 후 알림 박스 숨기기
        setTimeout(() => {
            alertBox.classList.remove('show');
        }, 5000);
    }

    function setupAlertMessage(message) {
        // 메시지를 sessionStorage에 저장하고 페이지 리로드 후 표시될 수 있도록 함
        sessionStorage.setItem("alertMessage", message);
    }


    function closeAlert() {
        const alertBox = document.getElementById("alertBox");
        if (alertBox) {
            alertBox.classList.remove("show"); // `show` 클래스 제거하여 숨김
            setTimeout(() => alertBox.style.display = "none", 500); // 0.5초 후 완전히 숨김
        }
    }

    function closeAlert2() {
        const alertBox = document.getElementById("alertBox2");
        if (alertBox) {
            alertBox.classList.remove("show"); // `show` 클래스 제거하여 숨김
            setTimeout(() => alertBox.style.display = "none", 500); // 0.5초 후 완전히 숨김
        }
    }
</script>