<a th:href="@{/status-types}">
    <div class="my-page-menu-icon"><i class="fa fa-file-alt"></i></div>
    내 글
</a>
<a th:href="@{/statuses}">
    <div class="my-page-menu-icon"><i class="fa fa-comments"></i></div>
    내 댓글
</a>
<a th:href="@{/categories}">
    <div class="my-page-menu-icon"><i class="fa fa-bell"></i></div>
    알림함
</a>
<a th:href="@{/users/admin}">
    <div class="my-page-menu-icon"><i class="fa fa-heart"></i></div>
    좋아요 목록
</a>
<a th:href="@{/user-grades}">
    <div class="my-page-menu-icon"><i class="fa fa-bookmark"></i></div>
    즐겨찾기 목록
</a>
