<!DOCTYPE html>

<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="config">
<head>
    <title>이벤터</title>
    <meta name="google-site-verification" content="yEf6o6RToJQhgmA9cppc64tcXXj_QHDTd2_MYnVfsng"/>
    <meta name="google-adsense-account" content="ca-pub-4622210946702265">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/image/logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Headland+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" media="screen" href="/css/common/category-menu.css"/>

    <link rel="stylesheet" type="text/css" media="screen" href="/css/common/frame.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/common/header.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/common/footer.css"/>

    <link rel="stylesheet" type="text/css" media="screen" href="/css/common/table.css"/>

    <link rel="stylesheet" type="text/css" media="screen" href="/css/common/alert-box.css"/>

    <!--    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4622210946702265"-->
    <!--            crossorigin="anonymous"></script>-->
</head>

</html>