<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/user-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>내 즐겨찾기 목록</h5>
                </section>
                <hr>
                <section id="page-body">
                    <div th:if="${objects.getTotalElements() > 0}">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>카테고리 이름</th>
                                <th>삭제</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="bookmark, index : ${objects}">
                                <td>
                                    <!-- 제목을 클릭하면 해당 게시글로 이동 -->
                                    <a th:href="@{/posts (categoryName=${bookmark.categoryName()})}"
                                       th:text="${bookmark.categoryName()}"></a>
                                </td>
                                <td>
                                    <form th:action="@{/bookmarks/{bookmarkId} (bookmarkId=${bookmark.bookmarkId})}"
                                          th:method="delete">
                                        <button class="btn btn-sm btn-danger">삭제</button>
                                    </form>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${objects.getTotalElements() == 0}">
                        <p>즐겨찾기한 카테고리가 없습니다.</p>
                    </div>

                    <!-- 페이징 처리 시작-->
                    <div th:insert="~{common/paging.html}"></div>
                    <!-- 페이징 처리 끝-->

                </section>
            </section>

        </section>
    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
