.keyword-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 좌우 끝 정렬 */
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.keyword-item {
    flex-grow: 1;
    text-align: left;
}

.delete-button {
    flex-shrink: 0;
    cursor: pointer;
    color: #888;
    padding: 0 10px;
    font-size: 18px;
}

.delete-button:hover {
    color: red;
}