<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>시켜줘</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/common/frame.css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<header th:insert="~{common/header}"></header>

<div class="wrapper">
    <div class="main-content">
        <section id="page" class="top-container">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>옵션 그룹 관리</h5>
                </section>
                <hr style="width: 100%"/>
                <section id="page-body" th:object="${optionGroup}">
                    <h3>옵션 그룹 정보 상세</h3>

                    <p><strong>옵션 그룹 이름:</strong> <span th:text="${optionGroup.name}"></span></p>
                    <p><strong>옵션 필수 선택 개수:</strong> <span th:text="${optionGroup.requiredCount}"></span></p>

                    <hr style="width: 100%"/>
                    <h3>할당할 음식 리스트</h3>

                    <form th:action="@{/shops/{shopId}/option-groups/{optionGroupId}/food-option-groups (shopId=${shopId}, optionGroupId=${optionGroupId})}"
                          method="post">
                        <div class="d-flex justify-content-end">
                            <h3>
                                <button type="submit" class="btn btn-primary">완료</button>
                                <a class="btn btn-secondary" onclick="history.back()">취소</a>
                            </h3>
                        </div>

                        <div th:if="${foods.size() > 0}">
                            <table class="table table-bordered">
                                <thead>
                                <tr class="inline-text">
                                    <th>번호</th>
                                    <th>음식 이름</th>
                                    <th>가격</th>
                                    <th><input type="checkbox" id="selectAll" name="selectAll"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="food, index : ${foods}">
                                    <td th:text="${index.index + 1}"></td>
                                    <td th:text="${food.name}"></td>
                                    <td th:text="${#numbers.formatDecimal(food.price, 1, 'COMMA', 0, 'POINT')}"></td>
                                    <td>
                                        <input type="checkbox" class="selectedFoodCheckbox" name="foodIds"
                                               th:value="${food.foodId}"
                                               th:checked="${food.checked}">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:if="${foods.size() == 0}">
                            <p>옵션이 없습니다.</p>
                        </div>
                    </form>

                </section>
            </section>
        </section>
    </div>
</div>

<footer th:insert="~{common/footer}"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/option-group/selectAll.js"></script>

</body>

</html>
