<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/user-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>내 좋아요 목록</h5>
                </section>
                <hr>
                <section id="page-body">
                    <div th:if="${objects.getTotalElements() > 0}">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>좋아요한 시간</th>
                                <th>삭제</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="post, index : ${objects}">
                                <td>
                                    <!-- 제목을 클릭하면 해당 게시글로 이동 -->
                                    <a th:href="@{/posts/{postId} (postId=${post.postId()})}"
                                       th:text="${post.title}"></a>
                                </td>
                                <td th:text="${post.writer}"></td>
                                <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                                <td>
                                    <form th:action="@{/favorites/{favoriteId} (favoriteId=${post.favoriteId})}"
                                          th:method="delete">
                                        <button class="btn btn-sm btn-danger">삭제</button>
                                    </form>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${objects.getTotalElements() == 0}">
                        <p>좋아요한 게시글이 없습니다.</p>
                    </div>

                    <!-- 페이징 처리 시작-->
                    <div th:insert="~{common/paging.html}"></div>
                    <!-- 페이징 처리 끝-->

                </section>
            </section>

        </section>


    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
