server:
  port: ${PROD_SERVER_PORT}

spring:
  # 재시작 및 라이브 리로드 비활성화
  devtools:
    restart:
      enabled: false
    livereload:
      enabled: false

  # 캐시 활성화
  thymeleaf:
    cache: true

  data:
    redis:
      host: redis
      password: ${REDIS_PASSWORD}

feignClient:
  url: https://eventor.kr

#test3