<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      th:with="titlePrefix='이벤트 제목 기반 삭제'" lang="ko">
<head>

</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>이벤트 제목 기반 삭제</h5>
                </section>
                <hr>
                <section id="page-body">
                    <form action="/posts/event" th:method="delete" onsubmit="return validateKeyword()">
                        <div class="mb-2 d-flex align-items-center gap-2 w-50">
                            <input class="form-control" id="keywordInput" name="keyword" placeholder="제목에 포함된 키워드 입력"
                                   required>
                            <button type="submit" class="btn btn-danger">삭제</button>
                        </div>
                    </form>
                </section>
            </section>

        </section>

    </div>
</div>

<th:block layout:fragment="script">
    <script>
        function validateKeyword() {
            const input = document.getElementById('keywordInput');
            const value = input.value.trim();

            if (value.length < 3) {
                alert("3글자 이상 입력해주세요.");
                input.focus();
                return false;
            }

            return confirm("정말 삭제하시겠습니까?");
        }
    </script>
</th:block>
</body>
</html>
