<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>회원 관리</h5>
                </section>
                <hr>
                <section id="page-body">
                    <h3>회원 리스트</h3>
                    <div th:if="${objects.getTotalElements() > 0}">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>회원 고유 번호</th>
                                <th>회원 닉네임</th>
                                <th>상태</th>
                                <th>등급</th>
                                <th>권한</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user, index : ${objects}">
                                <td th:text="${(objects.totalElements - (objects.number * objects.size + index.count)) + 1}"></td>
                                <td th:text="${user.userId}"></td>
                                <td th:text="${user.nickname}"></td>
                                <td th:text="${user.statusName}"></td>
                                <td th:text="${user.gradeName}"></td>
                                <td th:text="${user.roles}"></td>
                                <td>
                                    <div class="action-buttons">
                                        <a th:href="@{/users/{userId} (userId=${user.userId})}"
                                           class="btn btn-sm btn-primary inline-text">상세보기</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div th:if="${objects.getTotalElements() == 0}">
                        <p>회원이 없습니다.</p>
                    </div>

                    <!-- 페이징 처리 시작-->
                    <div th:insert="~{common/paging.html}"></div>
                    <!-- 페이징 처리 끝-->

                </section>
            </section>

        </section>
    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
