<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>관리자 페이지</h5>
                </section>
                <hr>

                <a th:href="@{/posts/createForm (categoryName='이벤트')}"
                   class="btn btn-warning inline-text">이벤트 게시물 작성</a>

                <a th:href="@{/posts/statistic/users/admin}"
                   class="btn btn-warning inline-text">관리자별 통계</a>

                <a th:href="@{/posts/monitor}"
                   class="btn btn-warning inline-text">별도 공지 게시물</a>

                <a th:href="@{/statistics}"
                   class="btn btn-warning inline-text">통계 정보</a>
            </section>
        </section>
    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
