<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>

</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>관리자별 이벤트 게시물 통계</h5>
                </section>
                <hr>
                <section id="page-body">
                    <form action="/posts/statistic/users/admin" method="get" id="form"
                          class="d-flex justify-content-between align-items-center">
                        <div class="mb-2 d-flex align-items-center">
                            <label for="startTime" style="margin-right: 10px;">시작 시간</label>
                            <input type="datetime-local" class="form-control" id="startTime" name="startTime"
                                   th:value="${startTime}" style="width: 200px; margin-right: 20px;" required>

                            <label for="endTime" style="margin-right: 10px;">종료 시간</label>
                            <input type="datetime-local" class="form-control" id="endTime" name="endTime"
                                   th:value="${endTime}" style="width: 200px;">
                        </div>
                        <button type="submit" class="btn btn-primary">조회</button>
                    </form>

                    <table class="table table-bordered mt-3">
                        <thead>
                        <tr>
                            <th>닉네임</th>
                            <th>게시물 수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="stat : ${eventPostStats}">
                            <td th:text="${stat.nickname}"></td>
                            <td th:text="${stat.eventPostCount}"></td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </section>

        </section>

    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
