<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/user/me.css"/>
</head>


<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>회원 정보 수정</h5>
                </section>

                <hr>

                <div class="container my-page-container">
                    <!-- Update User Info Form -->
                    <form th:action="@{/users/{userId} (userId=${userId})}" th:method="put">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h6>회원 정보 수정</h6>
                            </div>
                            <div class="card-body">
                                <!--                                    <div class="form-group">-->
                                <!--                                        <label for="name">이름</label>-->
                                <!--                                        <input type="text" class="form-control" id="name" name="name"-->
                                <!--                                               th:value="${user.name}" required>-->
                                <!--                                    </div>-->

                                <div class="form-group">
                                    <label for="nickname">닉네임</label>
                                    <input type="text" class="form-control" id="nickname" name="nickname"
                                           th:value="${user.nickname}" required>
                                    <small id="nicknameFeedback" class="form-text text-muted"></small>
                                </div>

                                <div class="form-group">
                                    <label for="email">이메일</label>
                                    <div class="email-input-container">
                                        <input id="email" type="email" name="email" th:value="${user.email}"
                                               readonly>
                                        <button id="changeButton" type="button"
                                                class="btn btn-sm btn-outline-primary"
                                                onclick="toggleEmailEdit()">변경
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group" id="verify-code-row" style="display: none">
                                    <div class="email-input-container">
                                        <input id="certify-code" type="text" placeholder="인증번호를 입력해주세요">
                                        <button type="button" class="btn btn-sm btn-outline-primary"
                                                onclick="certifySignUpCode()">인증번호 확인
                                        </button>
                                    </div>
                                </div>

                                <!--                                    <div class="form-group">-->
                                <!--                                        <label for="phone">전화번호</label>-->
                                <!--                                        <input type="text" class="form-control" id="phone" name="phone"-->
                                <!--                                               th:value="${user.phone}" required>-->
                                <!--                                    </div>-->

                                <!--                                    <div class="form-group">-->
                                <!--                                        <label for="birth">생년월일</label>-->
                                <!--                                        <input type="date" class="form-control" id="birth" name="birth"-->
                                <!--                                               th:value="${user.birth}" required>-->
                                <!--                                    </div>-->

                                <!--                                    <div class="form-group">-->
                                <!--                                        <label for="gender">성별</label>-->
                                <!--                                        <select class="form-control" id="gender" name="gender" required>-->
                                <!--                                            <option value="M" th:selected="${user.gender == '남'}">남</option>-->
                                <!--                                            <option value="F" th:selected="${user.gender == '여'}">여</option>-->
                                <!--                                        </select>-->
                                <!--                                    </div>-->
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" id="updateButton" class="btn btn-primary">수정</button>
                            <a th:href="@{/users/{userId} (userId=${userId})}" class="btn btn-secondary">뒤로가기</a>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="/js/user/update.js"></script>
</th:block>
</body>
</html>
