<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/user/me.css"/>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>회원 정보 수정</h5>
                </section>

                <hr>

                <div class="container my-page-container">

                    <div class="card mb-4">
                        <div class="card-header">
                            <h6>회원 특성 수정</h6>
                        </div>
                        <div class="card-body">
                            <form id="attributeForm" th:action="@{/users/{userId}/attribute (userId=${userId})}"
                                  th:method="put">
                                <div class="form-group" style="width: 300px">
                                    <label for="statusId">회원 상태</label>
                                    <select class="form-control" id="statusId" name="statusId" required>
                                        <option value="" disabled selected>상태를 선택하세요</option>
                                        <option th:each="status : ${statuses}"
                                                th:value="${status.statusId}"
                                                th:text="${status.name}"
                                                th:selected="${status.name == user.statusName}">
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group" style="width: 300px">
                                    <label for="gradeId">회원 등급</label>
                                    <select class="form-control" id="gradeId" name="gradeId" required>
                                        <option value="" disabled selected>등급을 선택하세요</option>
                                        <option th:each="grade : ${grades}"
                                                th:value="${grade.gradeId}"
                                                th:text="${grade.name}"
                                                th:selected="${grade.name == user.gradeName}">
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button type="submit" id="updateButton" class="btn btn-primary">수정</button>
                                    <a th:href="@{/users/{userId} (userId=${userId})}"
                                       class="btn btn-secondary">뒤로가기</a>
                                </div>
                            </form>


                            <hr>

                            <div class="form-group" style="width: 300px">
                                <form th:action="@{/users/{userId}/roles (userId=${userId})}" th:method="post">
                                    <label for="roleId">회원 권한</label>
                                    <div style="display: flex; align-items: center;">
                                        <select class="form-control" id="roleId" name="roleId" required>
                                            <option value="">추가할 권한 선택</option>
                                            <option th:each="role : ${unassignedRoles}"
                                                    th:value="${role.roleId}"
                                                    th:text="${role.name}"
                                                    th:selected="${role.name == user.statusName}">
                                            </option>
                                        </select>
                                        <button class="btn btn-primary">권한 추가</button>
                                    </div>
                                </form>

                                <table class="table table-bordered" style="width: 300px">
                                    <thead>
                                    <tr>
                                        <th>권한</th>
                                        <th style="width: 50px"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="role : ${userRoles}">
                                        <td th:text="${role.name}">권한</td>
                                        <td style="width: 50px;">
                                            <div class="action-buttons">
                                                <form th:action="@{/users/{userId}/roles/{roleId} (userId=${userId}, roleId=${role.roleId})}"
                                                      th:method="delete">
                                                    <button type="submit" class="btn btn-sm btn-danger">삭제</button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>

                </div>
            </section>
        </section>
    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
