<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">

<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/banNickname/list.css"/>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>금지닉네임 관리</h5>
                </section>
                <hr>
                <section id="page-body">
                    <h3>금지닉네임 리스트 (<span th:text="${banNicknames.size()}"></span>)</h3>
                    <form action="/banNicknames" method="post">
                        <div class="mb-2 d-flex align-items-center w-50 gap-2">
                            <input type="text" class="form-control" id="nickname" name="nickname"
                                   placeholder="금지할 닉네임 입력" required>
                            <button type="submit" class="btn btn-primary">추가</button>
                        </div>
                    </form>

                    <div th:if="${banNicknames.size() > 0}">
                        <div class="ban-nickname-tags">
                            <div th:each="banNickname : ${banNicknames}" class="tag">
                                <span th:text="${banNickname.nickname}"></span>
                                <form th:action="@{/banNicknames/{banNicknameId}(banNicknameId=${banNickname.banNicknameId()})}"
                                      th:method="delete"
                                      onsubmit="return confirm('정말 삭제하시겠습니까?');">
                                    <button type="submit" class="delete-btn">&times;</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div th:if="${banNicknames.size() == 0}">
                        <p>금지닉네임이 없습니다.</p>
                    </div>

                </section>
            </section>

        </section>
    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
