<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>

    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/post/createOrUpdate.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/post/hotDeal.css"/>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <h5>카테고리: <span th:text="${categoryName}"></span></h5>
        <hr>
        <form action="/posts" method="post" id="form" enctype="multipart/form-data">

            <div>
                <input type="hidden" id="postId" th:value="${tempPost?.postId}">
                <input type="hidden" id="categoryName" name="categoryName" th:value="${categoryName}">
                <input type="hidden" id="categoryType" name="categoryType" th:value="${categoryType}">
            </div>

            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>


            <div class="form-group">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>링크</th>
                        <td><input type="text" class="form-control" id="hotDealLink" name="link" required></td>
                    </tr>
                    <tr>
                        <th>쇼핑몰</th>
                        <td><input type="text" class="form-control" id="shoppingMall" name="shoppingMall" required>
                        </td>
                    </tr>
                    <tr>
                        <th>상품명</th>
                        <td><input type="text" class="form-control" id="productName" name="productName" required>
                        </td>
                    </tr>
                    <tr>
                        <th>가격</th>
                        <td><input type="number" class="form-control" id="price" name="price" required></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <label for="content">내용</label>
                <div id="toastUi"></div>
                <input type="hidden" id="content" name="content" th:value="${content}">
            </div>

            <div class="form-group">
                <p>한파일당 최대 10MB 까지 업로드 가능하며, 최대 업로드 용량은 10MB 입니다.</p>
                <p>업로드 가능 파일: ".jpg", ".jpeg", ".png", ".gif", "webp", ".jfif"</p>
            </div>

            <div id="image-select-box" class="form-group" style="display: none">
                <button type="button" id="selectAllBtn" class="btn btn-sm btn-primary">전체 선택</button>
                <button type="button" id="deselectAllBtn" class="btn btn-sm btn-primary">전체 선택 해제</button>
                <button type="button" id="deleteImageBtn" class="btn btn-sm btn-danger">이미지 삭제</button>
            </div>

            <div class="form-group">
                <p>총 용량: <span id="totalSize">0</span> / 10MB</p>
            </div>

            <!-- 이미지 파일 선택 필드 추가 -->
            <div class="form-group">
                <label for="files">이미지</label>
                <input type="file" class="form-control" id="files" name="files" accept="image/*" multiple
                       style="width: 50%">
                <div class="imagePreviewContainer" id="imagePreviewContainer"></div>
            </div>

            <button type="submit" class="btn btn-primary">등록</button>
            <a class="btn btn-secondary" onclick="history.back()">취소</a>

        </form>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="/js/post/editor.js"></script>
    <script src="/js/post/imageSelect.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/post/tempPostAlert.js"></script>
</th:block>
</body>
</html>
