<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/post/createOrUpdate.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/post/table.css"/>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <form action="/posts" method="post" id="form" enctype="multipart/form-data">

            <div>
                <input type="hidden" id="postId" th:value="${tempPost?.postId}">
                <input type="hidden" id="categoryType" name="categoryType" th:value="${categoryType}">
            </div>

            <div class="mb-2">
                <label for="categoryName">카테고리</label>

                <!-- 드롭다운 리스트 (선택 가능) -->
                <select class="form-control" id="categorySelect">
                    <option value="">카테고리 리스트</option>
                    <option th:each="category : ${categories}"
                            th:text="${category}">
                    </option>
                </select>

                <!-- 입력 필드 (검색 가능) -->
                <input class="form-control" type="text" id="categoryName" name="categoryName" th:value="${categoryName}"
                       placeholder="카테고리 검색 또는 선택">

                <!-- 자동완성 검색 결과 -->
                <div id="categoryResults" class="list-group"></div> <!-- 검색 결과 출력 영역 -->
            </div>

            <hr>

            <div class="d-flex align-items-center mb-2">
                <label for="startTime" style="margin-right: 10px;">이벤트 시작 시간</label>
                <input type="datetime-local" class="form-control" id="startTime" name="startTime"
                       th:value="${startTime}" style="width: 200px; margin-right: 20px;" required>

                <label for="endTime" style="margin-right: 10px;">이벤트 종료 시간</label>
                <input type="datetime-local" class="form-control" id="endTime" name="endTime"
                       th:value="${endTime}" style="width: 200px;">
            </div>

            <div class="mb-2">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>제목</th>
                        <td><input type="text" class="form-control" id="title" name="title" required></td>
                    </tr>
                    <tr>
                        <th>링크</th>
                        <td><input type="text" class="form-control" id="eventLink" name="link" required></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mb-2">
                <div id="toastUi"></div>
                <input type="hidden" id="content" name="content">
            </div>

            <div class="mb-2">
                <p>한파일당 최대 10MB 까지 업로드 가능하며, 최대 업로드 용량은 10MB 입니다.</p>
                <p>업로드 가능 파일: ".jpg", ".jpeg", ".png", ".gif", "webp", ".jfif"</p>
            </div>

            <div class="mb-2" id="image-select-box" style="display: none">
                <button type="button" id="selectAllBtn" class="btn btn-sm btn-primary">전체 선택</button>
                <button type="button" id="deselectAllBtn" class="btn btn-sm btn-primary">전체 선택 해제</button>
                <button type="button" id="deleteImageBtn" class="btn btn-sm btn-danger">이미지 삭제</button>
            </div>

            <div class="mb-2">
                <p>총 용량: <span id="totalSize">0</span> / 10MB</p>
            </div>

            <div class="mb-2">
                <label for="thumbnail">썸네일</label>
                <input type="file" class="form-control" id="thumbnail" name="thumbnail" accept="image/*"
                       style="width: 50%">
                <div class="imagePreviewContainer" id="thumbnailPreviewContainer"></div>
            </div>

            <!-- 이미지 파일 선택 필드 추가 -->
            <div class="mb-2">
                <label for="files">이미지</label>
                <input type="file" class="form-control" id="files" name="files" accept="image/*" multiple
                       style="width: 50%">
                <div class="imagePreviewContainer" id="imagePreviewContainer"></div>
            </div>

            <div class="mb-2">
                <button type="submit" class="btn btn-primary">등록</button>
                <button type="button" class="btn btn-success" onclick="createTempPost()">임시 저장</button>
                <a class="btn btn-secondary" onclick="history.back()">취소</a>
            </div>

        </form>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="/js/post/editor.js"></script>
    <script src="/js/post/imageSelect.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/post/tempPostAlert.js"></script>
    <script src="/js/eventPost/categorySelect.js"></script>
</th:block>
</body>
</html>
