<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/post/createOrUpdate.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/post/table.css"/>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <h5>카테고리: <span th:text="${post.categoryName}"></span></h5>

        <hr>

        <form th:action="@{/posts/{postId} (postId=${post.postId})}" th:method="put" id="form"
              enctype="multipart/form-data">

            <div>
                <input type="hidden" id="postId" th:value="${post.postId}">
                <input type="hidden" id="categoryType" name="categoryType" th:value="${categoryType}">
            </div>


            <div class="mb-2">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>이벤트 시작시간</th>
                        <td><input type="datetime-local" class="form-control" id="startTime" name="startTime"
                                   th:value="${#temporals.format(post.startTime, 'yyyy-MM-dd HH:mm')}" required></td>
                        <th>이벤트 종료시간</th>
                        <td><input type="datetime-local" class="form-control" id="endTime" name="endTime"
                                   th:value="${#temporals.format(post.endTime, 'yyyy-MM-dd HH:mm')}"></td>
                    </tr>
                    <tr>
                        <th>카테고리</th>
                        <td style="overflow: visible;">
                            <div class="d-flex align-items-center gap-2">
                                <!-- 입력 필드 (검색 가능) -->
                                <div style="width: 50%; position: relative;">
                                    <input class="form-control" type="text" id="categoryName" name="categoryName"
                                           th:value="${post.categoryName}" placeholder="카테고리 검색">

                                    <!-- 자동완성 검색 결과 -->
                                    <div id="categoryResults" class="list-group"></div> <!-- 검색 결과 출력 영역 -->
                                </div>

                                <div style="width: 50%">
                                    <select class="form-control" id="categorySelect">
                                        <option value="">[카테고리 리스트]</option>
                                        <option th:each="category : ${categories}"
                                                th:text="${category}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </td>

                        <th>별도 종료 설정</th>
                        <td class="gap-2">
                            <div class="d-flex gap-3">
                                <label>
                                    <input type="checkbox" name="endType" value="상시"
                                           th:checked="${post.endType == '상시'}"
                                           onclick="endTypeLimitSelection(this)"/>
                                    상시
                                </label>

                                <label>
                                    <input type="checkbox" name="endType" value="별도 공지 시"
                                           th:checked="${post.endType == '별도 공지 시'}"
                                           onclick="endTypeLimitSelection(this)"/>
                                    별도 공지 시
                                </label>

                                <label>
                                    <input type="checkbox" name="endType" value="별도 소진 시"
                                           th:checked="${post.endType == '별도 소진 시'}"
                                           onclick="endTypeLimitSelection(this)"/>
                                    별도 소진 시
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td colspan="3"><input type="text" class="form-control" id="title" name="title"
                                               th:value="${post.title}" required></td>
                    </tr>
                    <tr>
                        <th>링크</th>
                        <td colspan="3"><input type="text" class="form-control" id="eventLink" name="link"
                                               th:value="${post.link}" required></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mb-2">
                <div id="toastUi"></div>
                <input type="hidden" id="content" name="content" th:field="${post.content}">
            </div>

            <div class="mb-2">
                <p>한파일당 최대 10MB 까지 업로드 가능하며, 최대 업로드 용량은 10MB 입니다.</p>
                <p>업로드 가능 파일: ".jpg", ".jpeg", ".png", ".gif", "webp", ".jfif"</p>
            </div>

            <div class="mb-2" id="image-select-box" style="display: none">
                <button type="button" id="selectAllBtn" class="btn btn-sm btn-primary">전체 선택</button>
                <button type="button" id="deselectAllBtn" class="btn btn-sm btn-primary">전체 선택 해제</button>
                <button type="button" id="deleteImageBtn" class="btn btn-sm btn-danger">이미지 삭제</button>
            </div>

            <div class="mb-2">
                <p>총 용량: <span id="totalSize" th:text="${post.totalSize}"></span> / 10MB</p>
            </div>

            <div class="mb-2">
                <label for="thumbnail">썸네일</label>
                <input type="file" class="form-control" id="thumbnail" name="thumbnail" accept="image/*"
                       style="width: 50%">
                <div class="imagePreviewContainer" id="thumbnailPreviewContainer">
                    <div th:each="image : ${post.images}" th:if="${image.isThumbnail}" class="imageContainer">
                        <div class="image-preview">
                            <img th:src="${image.url}" alt="이미지">
                            <span class="image-name" th:text="${image.originalName}"></span>
                            <input type="checkbox" class="imageCheckbox" th:data-image-id="${image.imageId}"/>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 이미지 파일 선택 필드 추가 -->
            <div class="mb-2">
                <label for="files">이미지</label>
                <input type="file" class="form-control" id="files" name="files" accept="image/*" multiple
                       style="width: 50%">
                <div class="imagePreviewContainer" id="imagePreviewContainer">
                    <div th:each="image : ${post.images}" th:if="${!image.isThumbnail}" class="imageContainer">
                        <div class="image-preview">
                            <img th:src="${image.url}" alt="이미지">
                            <span class="image-name" th:text="${image.originalName}"></span>
                            <input type="checkbox" class="imageCheckbox" th:data-image-id="${image.imageId}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-2">
                <button type="submit" class="btn btn-primary">등록</button>
                <a class="btn btn-secondary" onclick="history.back()">취소</a>
            </div>

        </form>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="/js/post/editor.js"></script>
    <script src="/js/post/imageSelect.js"></script>
    <script src="/js/eventPost/categorySelect.js"></script>
    <script src="/js/eventPost/endTypeLimitSelection.js"></script>
</th:block>
</body>
</html>

