<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>

</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>상태유형 관리</h5>
                </section>
                <hr>
                <section id="page-body">
                    <h3>상태유형 리스트</h3>
                    <h3><a th:href="@{/statusTypes/create}" class="btn btn-primary">상태유형 추가</a></h3>
                    <div th:if="${objects.getTotalElements() > 0}">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 10%;">번호</th>
                                <th style="width: 75%;">상태유형 이름</th>
                                <th style="width: 15%;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="statusType, index : ${objects}">
                                <td th:text="${(objects.number * objects.size) + index.count}"></td>
                                <td th:text="${statusType.name()}">상태 유형 이름</td>
                                <td>
                                    <div class="action-buttons">
                                        <a th:href="@{/statusTypes/update/{statusTypeId} (statusTypeId=${statusType.statusTypeId()})}"
                                           class="btn btn-sm btn-warning inline-text">편집</a>
                                        <form th:action="@{/statusTypes/{statusTypeId} (statusTypeId=${statusType.statusTypeId()})}"
                                              th:method="delete">
                                            <button type="submit" class="btn btn-sm  btn-danger inline-text">삭제</button>
                                        </form>
                                    </div>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${objects.getTotalElements() == 0}">
                        <p>상태 유형이 없습니다.</p>
                    </div>

                    <!-- 페이징 처리 시작-->
                    <div th:insert="~{common/paging.html}"></div>
                    <!-- 페이징 처리 끝-->

                </section>
            </section>

        </section>
    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
