<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      th:with="titlePrefix='회원 정치 추가'" lang="ko">
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/userStop/create.css"/>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>회원 정지 관리</h5>
                </section>
                <hr>
                <section id="page-body">
                    <h3>회원 정지 추가 폼</h3>

                    <form action="/userStops" method="post">
                        <div class="mb-2">
                            <label for="reportTypeId">신고 유형</label>
                            <select class="form-control" id="reportTypeId" name="reportTypeId" required>
                                <option value="" disabled selected>신고유형을 선택하세요</option>
                                <option th:each="reportType : ${reportTypes}"
                                        th:value="${reportType.reportTypeId}"
                                        th:text="${reportType.name}"></option>
                            </select>
                        </div>

                        <div class="mb-2">
                            <label for="stopDay">정지 일수</label>
                            <input type="number" class="form-control" id="stopDay" name="stopDay"
                                   placeholder="정지 일수를 입력해 주세요" required>
                        </div>

                        <div class="mb-2">
                            <label for="userId">회원 고유 ID</label>
                            <input type="text" class="form-control" id="userId" name="userId"
                                   placeholder="회원 고유 ID를 입력해 주세요"
                                   required>
                            <div id="idResults" class="list-group"></div> <!-- 검색 결과 출력 영역 -->
                        </div>

                        <div id="userStopTableContainer">
                            <h5>회원 정지 내역</h5>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>정지 유형</th>
                                    <th>횟수</th>
                                </tr>
                                </thead>
                                <tbody id="userStopTableBody">
                                <!-- 정지 내역이 여기에 추가됩니다 -->
                                </tbody>
                            </table>
                        </div>


                        <button type="submit" class="btn btn-primary">추가</button>
                        <a class="btn btn-secondary" onclick="history.back()">취소</a>
                    </form>
                </section>
            </section>
        </section>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="/js/userStop/userStopSearch.js"></script>
</th:block>
</body>
</html>
