<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>회원 정지 관리</h5>
                </section>
                <hr>
                <section id="page-body">
                    <h3>회원 정지 리스트</h3>
                    <h3><a th:href="@{/userStops/create}" class="btn btn-primary">회원 정지 추가</a></h3>
                    <div th:if="${objects.getTotalElements() > 0}">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 10%;">번호</th>
                                <th style="width: 15%;">회원 고유 번호</th>
                                <th style="width: 10%;">유형</th>
                                <th style="width: 10%;">정지 일수</th>
                                <th style="width: 20%;">시작 시간</th>
                                <th style="width: 20%;">종료 시간</th>
                                <th style="width: 7%;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="userStop, index : ${objects}">
                                <td th:text="${(objects.totalElements - (objects.number * objects.size + index.count)) + 1}"></td>
                                <td th:text="${userStop.userId}"></td>
                                <td th:text="${userStop.reportTypeName}"></td>
                                <td th:text="${userStop.stopDay}"></td>
                                <td th:text="${#temporals.format(userStop.startTime, 'yyyy-MM-dd HH:mm')}"></td>
                                <td th:text="${#temporals.format(userStop.endTime, 'yyyy-MM-dd HH:mm')}"></td>
                                <td>
                                    <form th:action="@{/userStops/{userStopId} (userStopId=${userStop.userStopId})}"
                                          th:method="delete">
                                        <button type="submit" class="btn btn-sm btn-danger inline-text">삭제</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div th:if="${objects.getTotalElements() == 0}">
                        <p>회원 정지이 없습니다.</p>
                    </div>

                    <!-- 페이징 처리 시작-->
                    <div th:insert="~{common/paging.html}"></div>
                    <!-- 페이징 처리 끝-->

                </section>
            </section>

        </section>
    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
