<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/image/free-icon-event.png" type="image/x-icon">
    <title>이벤터</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/common/frame.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/post/get.css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<header th:insert="~{common/header}"></header>

<div class="wrapper">
    <div class="main-content">
        <div class="top-container2">
            <h5>카테고리: <span th:text="${post.categoryName}"></span></h5>
            <hr style="width: 100%"/>

            <!-- 첫 번째 줄: 제목 왼쪽, 작성자 오른쪽 -->
            <div class="post-header">
                <div class="left">
                    <p><strong>제목:</strong> <span th:text="${post.title}"></span></p>
                </div>
                <div class="right">
                    <p><strong>작성자:</strong> <span th:text="${post.writer()}"></span></p>
                </div>
            </div>

            <!-- 두 번째 줄: 조회수와 추천수 왼쪽, 작성시간 오른쪽 -->
            <div class="post-header">
                <div class="left">
                    <p><strong>조회수:</strong> <span th:text="${post.viewCount}"></span></p>
                    <p><strong>추천수:</strong> <span th:text="${post.recommendationCount}"></span></p>
                </div>
                <div class="right">
                    <p><strong>작성시간:</strong> <span
                            th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></span></p>
                </div>
            </div>

            <hr style="width: 100%"/>

            <!-- 이미지 출력 -->
            <div class="image-gallery">
                <div th:each="image : ${post.images}" class="image-container">
                    <!-- 이미지 -->
                    <img th:src="${image.url}" alt="이미지"/>
                </div>
            </div>

            <p th:utext="${post.content}"></p>

            <hr style="width: 100%"/>

            <!-- 첨부파일 -->
            <div th:if="${!post.images().isEmpty()}" class="image-gallery"
                 style="display: flex; flex-wrap: wrap; gap: 10px;">
                <p>첨부파일</p>
                <div th:each="image : ${post.images}" class="image-container" style="position: relative;">
                    <!-- 이미지 파일명 -->
                    <a th:href="${image.url}" th:text="${image.originalName}"></a>
                </div>
            </div>


            <div th:if="${post.isAuthorized}" style="display: flex; align-items: center;">
                <a th:href="@{/posts/{postId}/update (postId=${post.postId()})}"
                   class="btn btn-warning inline-text">수정</a>
                <form th:action="@{/posts/{postId} (postId=${post.postId()})}" th:method="delete">
                    <button type="submit" class="btn btn-danger inline-text">삭제</button>
                </form>
            </div>

        </div>
    </div>
</div>

<footer th:insert="~{/common/footer}"></footer>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
