<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/post/get.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/post/table.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/comment/list.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/common/highlight.css"/>
</head>

<body>
<div layout:fragment="content">
    <div id="postDetailView" class="body-container">
        <div class="d-flex justify-content-between align-items-center">
            <h5>
                카테고리:
                <a id="categoryName"
                   th:data-category-name="${post.categoryName}"
                   th:text="${post.categoryName}"
                   th:href="@{/posts (categoryName=${post.categoryName})}">
                </a>
            </h5>

            <div id="thumbnailUrl" th:text="${thumbnailUrl}" hidden></div>

            <div class="d-flex align-items-center mb-2 gap-2" th:if="${post.isAuthorized}">
                <form th:if="${isEvent}"
                      th:action="@{/posts/{postId}/finish (postId=${post.postId})}"
                      th:method="put">
                    <button type="submit" class="btn btn-secondary">종료</button>
                </form>
                <a th:href="@{/posts/{postId}/updateForm (postId=${post.postId})}"
                   class="btn btn-warning inline-text">수정
                </a>
                <form th:action="@{/posts/{postId} (postId=${post.postId()}, categoryName=${post.categoryName})}"
                      th:method="delete">
                    <button type="submit" class="btn btn-danger">삭제</button>
                </form>
            </div>

        </div>
        <div class="post-header">
            <!-- 이벤트 시간 및 남은 시간 -->
            <div class="event-time"
                 th:if="${isEvent}">

                <div class="left">
                    <span class="label">
                        기간:
                        <span th:text="${#temporals.format(post.startTime, 'yyyy-MM-dd HH:mm')}"></span>
                        ~
                        <span id="endTime" th:data-end-time="${post.endTime != null ? post.endTime : ''}"
                              th:text="${post.endTime != null ? #temporals.format(post.endTime, 'yyyy-MM-dd HH:mm') : '별도 공지시'}"></span>
                    </span>
                </div>

                <div class="right">
                    <span class="label">남은 시간: <span id="remainingTime" class="remaining-time">계산중...</span></span>
                </div>
            </div>

            <hr th:if="${isEvent}"/>

            <!-- 제목 및 작성시간 -->
            <div class="title-section">
                <strong id="postTitle" th:text="${post.title}"></strong>
            </div>

            <hr>

            <!-- 작성자 및 조회수, 추천수 -->
            <div class="author-section">
                <div class="left">
                    <img class="grade" th:src="@{/profile/{gradeName}.png (gradeName=${post.writerGrade})}"
                         alt="프로필">
                    <strong th:text="${post.writer}"></strong>
                </div>
                <div class="right">
                    <p><strong class="label">조회수</strong><span th:text="${post.viewCount}"></span></p>
                    <p><strong class="label">추천</strong><span th:text="${post.recommendationCount}"></span></p>
                    <p><strong class="label">댓글</strong><span th:text="${objects.getTotalElements()}"></span></p>
                    <p><strong class="label"></strong><span
                            th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></span></p>
                </div>
            </div>
        </div>

        <div th:if="${isEvent}">
            <table class="table">
                <tbody>
                <tr>
                    <th>링크</th>
                    <td><a th:href="${post.link}" th:text="${post.link}" target="_blank"></a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--        <div class="share-buttons">-->
        <!--            &lt;!&ndash; X &ndash;&gt;-->
        <!--            <a id="btnTwitter" class="link-icon x" href="javascript:shareX();"></a>-->

        <!--            &lt;!&ndash; Facebook &ndash;&gt;-->
        <!--            <a id="btnFacebook" class="link-icon facebook" href="javascript:shareFacebook();"></a>-->

        <!--            &lt;!&ndash; KakaoTalk &ndash;&gt;-->
        <!--            <a id="btnKakao" class="link-icon kakao" href="javascript:shareKakao();"></a>-->

        <!--            <button class="link-icon"><i class="fa-regular fa-paste"></i></button>-->
        <!--        </div>-->

        <!--        <button class="link-icon"><i class="fa-solid fa-share-nodes"></i></button>-->


        <div th:if="${post.categoryName == '핫딜'}">
            <table class="table">
                <tbody>
                <tr>
                    <th>링크</th>
                    <td><a th:href="${post.link}" th:text="${post.link}" target="_blank"></a></td>
                </tr>
                <tr>
                    <th>쇼핑몰</th>
                    <td th:text="${post.shoppingMall}"></td>
                </tr>
                <tr>
                    <th>상품명</th>
                    <td th:text="${post.productName}"></td>
                </tr>
                <tr>
                    <th>가격</th>
                    <td th:text="${post.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>


        <!-- 게시글 내용 몸통 -->
        <div class="post-body">

            <!-- 이미지 및 동영상 출력 -->
            <div class="image-gallery" th:if="${isEvent}" th:classappend="${isEvent ? 'event-gallery' : ''}">
                <div th:each="image : ${post.images}" th:if="${!image.isThumbnail and !image.isPasted}"
                     class="image-container">
                    <img th:if="${image.type == 'image'}" th:src="${image.url}" alt="이미지"/>
                    <video th:if="${image.type == 'video'}" th:src="${image.url}" controls>
                        브라우저가 비디오 태그를 지원하지 않습니다.
                    </video>
                </div>
            </div>

            <div class="image-gallery" th:unless="${isEvent}" th:classappend="${isEvent ? 'event-gallery' : ''}">
                <div th:each="image : ${post.images}" th:if="${!image.isPasted}"
                     class="image-container">
                    <img th:if="${image.type == 'image'}" th:src="${image.url}" alt="이미지"/>
                    <video th:if="${image.type == 'video'}" th:src="${image.url}" controls>
                        브라우저가 비디오 태그를 지원하지 않습니다.
                    </video>
                </div>
            </div>

            <p id="postContent" th:utext="${post.content}"></p>
        </div>

        <div class="post-recommend-container">
            <img class="btn btn-sm btn-outline-primary recommend-button-img"
                 th:data-url="@{/posts/{postId}/recommend (postId=${post.postId})}"
                 data-method="PUT"
                 onclick="setupAlertBox(this)"
                 src="/image/comment/recommend.svg" alt="추천">

            <img class="btn btn-sm btn-outline-primary recommend-button-img"
                 th:data-url="@{/posts/{postId}/disrecommend (postId=${post.postId})}"
                 data-method="PUT"
                 onclick="setupAlertBox(this)"
                 src="/image/comment/disrecommend.svg" alt="비추천">


            <!-- 좋아요 -->
            <button class="btn btn-sm btn-outline-primary"
                    th:data-url="@{/posts/{postId}/favorites (postId=${post.postId})}"
                    data-method="Post"
                    onclick="favorite(this)">
                <i id="favoriteIcon" class="fa-solid fa-heart"
                   th:style="${post.isFavorite} ? 'color: red' : 'color: grey'"></i>
            </button>

            <button class="btn btn-sm btn-outline-primary report-button"
                    th:data-url="@{/posts/{postId}/postReports (postId=${post.postId})}"
                    data-method="POST">
                🚨
            </button>
            <div class="popup report-popup">
                <p><strong>[신고유형]</strong></p>
                <a data-report-type="폭언" onclick="submitReport(this)">- 폭언</a>
                <a data-report-type="정치" onclick="submitReport(this)">- 정치</a>
                <a data-report-type="성인물" onclick="submitReport(this)">- 성인물</a>
                <a data-report-type="기타" onclick="submitReport(this)">- 기타</a>
            </div>

            <a class="btn btn-sm btn-secondary" onclick="history.back()">뒤로가기</a>

        </div>

        <!-- 첨부파일 -->
        <div th:if="${post.attachmentImageCount > 0}" class="image-gallery"
             style="display: flex; flex-wrap: wrap; gap: 10px;">
            <hr>
            <!-- 첨부파일 개수 출력 및 클릭 시 링크 토글 -->
            <div class="attachment-text" onclick="toggleImageLinks()" style="cursor: pointer;">
                첨부파일 <span th:text="${post.attachmentImageCount}"></span> 개
            </div>

            <!-- 이미지 링크 영역 (기본적으로 숨김 처리) -->
            <div id="image-links" style="display: none; flex-wrap: wrap; gap: 10px;">
                <div th:each="image : ${post.images}">
                    <a th:href="${image.url}" th:text="${image.originalName}"></a>
                </div>
            </div>
        </div>


        <hr>

        <!-- 댓글 섹션 -->
        <div class="comment-section">
            <h5>댓글 <span th:text="${objects.getTotalElements()}"></span> 개</h5>

            <hr>

            <!-- 댓글 리스트 -->
            <div th:each="comment : ${objects}" th:class="'depth-' + ${comment.depth}"
                 th:style="'margin-left: ' + ${comment.depth * 20} + 'px'"
                 th:id="${comment.commentId}">
                <div class="d-flex flex-column gap-2">
                    <div class="comment-container d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-2"
                         th:id="${comment.commentId}">
                        <div>
                            <span th:if="${comment.depth >= 1}">ㄴ</span>
                            <img class="grade"
                                 th:src="@{/profile/{gradeName}.png (gradeName=${comment.writerGrade})}"
                                 alt="프로필">
                            <strong class="me-3" th:text="${comment.writer}"></strong>
                            <span th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                        <div class="comment-function-container">
                            <img class="btn btn-sm btn-outline-primary recommend-button-img"
                                 th:data-url="@{/comments/{commentId}/recommend (commentId=${comment.commentId})}"
                                 data-method="PUT"
                                 onclick="setupAlertBox(this)"
                                 src="/image/comment/recommend.svg" alt="추천">

                            <span th:text="${comment.recommendationCount}"></span>

                            <img class="btn btn-sm btn-outline-primary recommend-button-img"
                                 th:data-url="@{/comments/{commentId}/disrecommend (commentId=${comment.commentId})}"
                                 data-method="PUT"
                                 onclick="setupAlertBox(this)"
                                 src="/image/comment/disrecommend.svg" alt="비추천">

                            <span th:text="${comment.decommendationCount}"></span>

                            <!-- 대댓글 작성 버튼 -->
                            <button class="btn btn-sm btn-outline-primary">대댓글 작성</button>

                            <button class="btn btn-sm btn-outline-primary report-button"
                                    th:data-url="@{/comments/{commentId}/commentReports (commentId=${comment.commentId})}"
                                    data-method="POST">
                                🚨
                            </button>
                            <div class="popup report-popup">
                                <p><strong>[신고유형]</strong></p>
                                <a data-report-type="정치" onclick="submitReport(this)">- 정치</a>
                                <a data-report-type="성인물" onclick="submitReport(this)">- 성인물</a>
                                <a data-report-type="기타" onclick="submitReport(this)">- 기타</a>
                            </div>

                            <div th:if="${comment.isAuthorized and comment.deletedAt == null}"
                                 class="d-flex align-items-center">
                                <button type="button" class="btn btn-sm btn-warning inline-text">수정</button>
                                <form th:action="@{/posts/{postId}/comments/{commentId} (postId=${post.postId}, commentId=${comment.commentId})}"
                                      th:method="delete">
                                    <button type="submit" class="btn btn-sm btn-danger inline-text">삭제</button>
                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="d-inline">
                        <span class="parent-writer text-muted me-2" th:text="${comment.parentWriter}"></span>
                        <span class="comment" th:text="${comment.content}"></span>
                    </div>

                    <div class="sub-comment-form-container"
                         th:data-post-id="${post.postId}"
                         th:data-comment-id="${comment.commentId}"></div>

                </div>

                <hr>

            </div>

            <!-- 댓글 작성 폼 -->
            <div class="comment-form-container" th:data-post-id="${post.postId}"></div>
        </div>

        <!-- 페이징 처리 시작-->
        <div th:insert="~{common/paging.html}"></div>
        <!-- 페이징 처리 끝-->

    </div>
</div>

<th:block layout:fragment="script">
    <script src="/js/post/comment.js"></script>
    <script src="/js/post/sub-comment.js"></script>
    <script src="/js/post/remainingTime.js"></script>
    <script src="/js/post/report.js"></script>
    <script src="/js/common/highlight.js"></script>
    <script src="/js/post/favorite.js"></script>
    <script src="/js/post/toggleImageLinks.js"></script>
    <script src="/js/post/video.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script th:inline="javascript" src="/js/post/share-button.js"></script>
</th:block>
</body>
</html>
