<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      th:with="titlePrefix=${categoryName}" lang="ko">

<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/post/list.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="category-name">
                <h5>카테고리:
                    <a th:href="@{/posts(categoryName=${categoryName})}">
                        <span th:text="${categoryName}"></span>
                    </a>
                    <button class="btn btn-sm btn-outline-primary"
                            th:data-url="@{/categories/{categoryName}/bookmarks (categoryName=${categoryName})}"
                            data-method="post"
                            onclick="setupAlertBox(this)">⭐
                    </button>
                </h5>
            </div>

            <form class="search-form" th:action="@{/posts/search (categoryName=${categoryName})}" method="get">
                <input type="hidden" name="categoryName" th:value="${categoryName}">
                <input class="search-input" type="text" name="keyword" placeholder="카테고리 내 검색">
                <button class="search-button" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>

        <hr>

        <div class="d-flex justify-content-between align-items-center">
            <form th:action="@{/posts}" method="get">
                <input type="hidden" name="categoryName" th:value="${categoryName}">

                <div class="d-flex align-items-center gap-1">
                    <!-- 정렬 방식 선택 -->
                    <label for="direction"></label>
                    <select id="direction" name="direction" class="form-select">
                        <option value="DESC" th:selected="${direction == 'DESC'}">내림차순</option>
                        <option value="ASC" th:selected="${direction == 'ASC'}">오름차순</option>
                    </select>

                    <!-- 정렬 기준 선택 -->
                    <label for="sortBy"></label>
                    <select id="sortBy" name="sortBy" class="form-select">
                        <option value="viewCount" th:selected="${sortBy == 'viewCount'}">조회수</option>
                        <option value="recommendationCount" th:selected="${sortBy == 'recommendationCount'}">추천수
                        </option>
                        <option value="createdAt" th:selected="${sortBy == 'createdAt'}">작성시간</option>
                    </select>

                    <button type="submit" class="btn btn-warning">정렬하기</button>
                </div>
            </form>

            <a th:if="${isAuthorized}" th:href="@{/posts/createForm (categoryName=${categoryName})}"
               class="btn btn-primary">게시글 작성</a>
        </div>

        <div class="event-section">
            <h3>Top10</h3>
            <div class="event-slider">
                <div th:if="${hotPosts.size() > 0}" th:each="post : ${hotPosts}">
                    <a th:href="@{/posts/{postId} (postId=${post.postId()})}">
                        <div class="event-card">
                            <img th:if="${post.imageUrl == null}" src="/image/logo.png" alt="썸네일"/>
                            <img th:if="${post.imageType == 'image'}" th:src="${post.imageUrl}" alt="썸네일"/>
                            <video th:if="${post.imageType == 'video'}" th:src="${post.imageUrl}"></video>
                            <div class="event-card-body">
                                <div class="event-card-title" th:text="${post.title}"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <p th:if="${hotPosts.size() == 0}">Top10 리스트가 없습니다.</p>
            </div>
        </div>

        <!-- 게시글 목록 -->
        <div class="post-list" th:if="${objects.getTotalElements() > 0}">
            <a th:each="post : ${objects}" th:href="@{/posts/{postId}(postId=${post.postId()})}">
                <div class="post-card">
                    <img th:if="${post.imageUrl == null}" src="/image/logo.png" alt="썸네일"/>
                    <img th:if="${post.imageType == 'image'}" th:src="${post.imageUrl}" alt="썸네일"/>
                    <video th:if="${post.imageType == 'video'}" th:src="${post.imageUrl}"></video>

                    <div class="post-card-body">
                        <div class="post-card-title-container">
                            <span class="post-card-category">[<span th:text="${categoryName}"></span>] </span>
                            <span class="post-card-title" th:text="${post.title}"></span>
                        </div>
                        <div class="post-card-meta">
                            <img th:src="@{/profile/{gradeName}.png (gradeName=${post.writerGrade})}" alt="프로필">
                            <span th:text="${post.writer}"></span>
                        </div>
                        <div class="post-card-stats">
                            <span>조회수: <span th:text="${post.viewCount}"></span></span>
                            <span>추천수: <span th:text="${post.recommendationCount}"></span></span>
                        </div>
                        <div class="post-card-date"
                             th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
            </a>
        </div>
        <div th:if="${objects.getTotalElements() == 0}">
            <p>게시글이 없습니다.</p>
        </div>

        <!-- 페이징 처리 시작-->
        <div th:insert="~{common/paging.html}"></div>
        <!-- 페이징 처리 끝-->
    </div>
</div>

<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="/js/post/list.js"></script>
</th:block>
</body>
</html>