<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/post/list.css"/>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">

        <h5>카테고리: <span th:text="${categoryName}"></span>
            <button class="btn btn-sm btn-outline-primary"
                    th:data-url="@{/categories/{categoryName}/bookmarks (categoryName=${categoryName})}"
                    data-method="post"
                    onclick="setupAlertBox(this)">⭐
            </button>
        </h5>

        <div style="text-align: right;">
            <a th:if="${isAuthorized}" th:href="@{/posts/createForm (categoryName=${categoryName})}"
               class="btn btn-primary">게시글 작성</a>
        </div>

        <!-- 게시글 목록 -->
        <div class="post-list" th:if="${objects.getTotalElements() > 0}">
            <a th:each="post : ${objects}" th:href="@{/posts/{postId}(postId=${post.postId()})}" class="post-card">
                <div class="post-card-body">
                    <div class="post-card-title" th:text="${post.title}"></div>
                    <div class="post-card-meta">
                        <img th:src="@{/profile/{gradeName}.png (gradeName=${post.gradeName()})}" alt="프로필">
                        <span th:text="${post.writer}"></span>
                    </div>
                    <div class="post-card-stats">
                        <span>조회수: <span th:text="${post.viewCount}"></span></span>
                        <span>추천수: <span th:text="${post.recommendationCount}"></span></span>
                    </div>
                    <div class="post-card-date"
                         th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </a>
        </div>
        <div th:if="${objects.getTotalElements() == 0}">
            <p>게시글이 없습니다.</p>
        </div>

        <!-- 페이징 처리 시작-->
        <div th:insert="~{common/paging.html}"></div>
        <!-- 페이징 처리 끝-->
    </div>
</div>

<th:block layout:fragment="script">
    <script src="/js/post/list.js"></script>
</th:block>
</body>
</html>