<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/post/list.css"/>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <div class="d-flex justify-content-between align-items-center">
            <div th:if="${categoryName != null}">
                <h5>카테고리: <span th:text="${categoryName}"></span>
                    <button class="btn btn-sm btn-outline-primary"
                            th:data-url="@{/categories/{categoryName}/bookmarks (categoryName=${categoryName})}"
                            data-method="post"
                            onclick="setupAlertBox(this)">⭐
                    </button>
                </h5>
            </div>

            <div th:if="${categoryName == null}">
                <h5>통합 검색 : <span th:text="${keyword}"></span></h5>
            </div>

            <form class="search-form" th:if="${categoryName != null}"
                  th:action="@{/posts/search (categoryName=${categoryName})}" method="get">
                <input type="hidden" name="categoryName" th:value="${categoryName}">
                <input class="search-input" type="text" name="keyword" th:value="${keyword}" placeholder="카테고리 내 검색">
                <button class="search-button" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>

        <hr>

        <div class="d-flex justify-content-between align-items-center">
            <form th:action="@{/posts/search}"
                  method="get">
                <input type="hidden" name="keyword" th:value="${keyword}">

                <div th:if="${categoryName != null}">
                    <input type="hidden" name="categoryName" th:value="${categoryName}">
                </div>
                <div th:if="${eventStatusName != null}">
                    <input type="hidden" name="eventStatusName" th:value="${eventStatusName}">
                </div>
                <div th:if="${endType != null}">
                    <input type="hidden" name="endType" th:value="${endType}">
                </div>


                <!-- 정렬 방식 선택 -->
                <label for="direction">정렬 방식:</label>
                <select id="direction" name="direction">
                    <option value="DESC" th:selected="${direction == 'DESC'}">내림차순</option>
                    <option value="ASC" th:selected="${direction == 'ASC'}">오름차순</option>
                </select>

                <!-- 정렬 기준 선택 -->
                <label for="sortBy">기준 선택:</label>
                <select id="sortBy" name="sortBy">
                    <option value="viewCount" th:selected="${sortBy == 'viewCount'}">조회수</option>
                    <option value="recommendationCount" th:selected="${sortBy == 'recommendationCount'}">추천수</option>
                    <option value="createdAt" th:selected="${sortBy == 'createdAt'}">작성시간</option>
                    <option th:if="${isEvent}" value="startTime" th:selected="${sortBy == 'startTime'}">시작시간</option>
                    <option th:if="${isEvent}" value="endTime" th:selected="${sortBy == 'endTime'}">종료시간</option>
                </select>

                <button type="submit" class="btn btn-sm btn-warning">정렬하기</button>
            </form>

            <a th:if="${isAuthorized}" th:href="@{/posts/createForm (categoryName=${categoryName})}"
               class="btn btn-primary">게시글 작성</a>
        </div>

        <h5>검색 결과 <span th:text="${objects.getTotalElements()}"></span> 건</h5>

        <div class="event-status-filter" th:if="${isEvent}">
            <a th:href="@{/posts/search (categoryName=${categoryName}, keyword=${keyword})}"
               th:classappend="${eventStatusName.isEmpty and endType.isEmpty} ? 'active'">전체</a>
            <a th:href="@{/posts/search (categoryName=${categoryName}, keyword=${keyword}, eventStatusName='예정')}"
               th:classappend="${eventStatusName == '예정'} ? 'active'">예정</a>
            <a th:href="@{/posts/search (categoryName=${categoryName}, keyword=${keyword}, eventStatusName='진행중')}"
               th:classappend="${eventStatusName == '진행중'} ? 'active'">진행중</a>
            <a th:href="@{/posts/search (categoryName=${categoryName}, keyword=${keyword}, eventStatusName='마감')}"
               th:classappend="${eventStatusName == '마감'} ? 'active'">마감</a>
            <a th:href="@{/posts/search (categoryName=${categoryName}, keyword=${keyword}, endType='상시')}"
               th:classappend="${endType == '상시'} ? 'active'">상시</a>
        </div>

        <div class="post-list" th:if="${objects.getTotalElements() > 0}">
            <a th:each="post : ${objects}" th:href="@{/posts/{postId}(postId=${post.postId()})}" class="post-card">
                <img class="post-card-img" th:if="${post.imageUrl}" th:src="${post.imageUrl}" alt="썸네일">
                <img class="post-card-img" th:if="${post.imageUrl == null}" src="/image/logo.png" alt="이벤트 이미지">

                <div class="post-card-body" th:if="${post.startTime == null}">
                    <div class="post-card-title-container">
                        <span class="post-card-category">[<span th:text="${post.categoryName}"></span>] </span>
                        <span class="post-card-title" th:text="${post.title}"></span>
                    </div>
                    <div class="post-card-meta">
                        <img th:src="@{/profile/{gradeName}.png (gradeName=${post.writerGrade})}" alt="프로필">
                        <span th:text="${post.writer}"></span>
                    </div>
                    <div class="post-card-stats">
                        <span>조회수: <span th:text="${post.viewCount}"></span></span>
                        <span>추천수: <span th:text="${post.recommendationCount}"></span></span>
                    </div>
                    <div class="post-card-date"
                         th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                </div>

                <div class="post-card-body" th:if="${post.startTime != null}">
                    <div class="d-flex">
                        <div class="post-card-title-container">
                            <span class="post-card-category">[<span th:text="${post.categoryName}"></span>] </span>
                            <span class="post-card-title" th:text="${post.title}"></span>
                        </div>
                        <div class="post-card-status" th:text="${post.eventStatusName}"
                             th:classappend="${post.eventStatusName == '예정' ? 'status-scheduled' : (post.eventStatusName == '진행중' ? 'status-ongoing' : (post.eventStatusName == '마감' ? 'status-closed' : ''))}"></div>
                        <div class="remaining-day" th:if="${post.eventStatusName == '예정'}">
                            <span th:text="'D-' + ${post.remainingDay}"></span>
                        </div>
                        <div class="end-type" th:if="${post.endType}" th:text="${post.endType}"></div>
                    </div>
                    <div class="post-card-meta">
                        <img th:src="@{/profile/{gradeName}.png (gradeName=${post.writerGrade})}" alt="프로필">
                        <span th:text="${post.writer}"></span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="left">
                            <span>시작: <span
                                    th:text="${#temporals.format(post.startTime, 'yyyy-MM-dd HH:mm')}"></span></span>
                        </div>
                        <div class="right">
                            <div class="post-card-stats">
                                <span>조회수: <span th:text="${post.viewCount}"></span></span>
                                <span>추천수: <span th:text="${post.recommendationCount}"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="left">
                            <span>종료: <span
                                    th:text="${#temporals.format(post.endTime, 'yyyy-MM-dd HH:mm')}"></span></span>
                        </div>
                        <div class="right">
                            <div class="post-card-stats">
                                <span class="post-card-date">작성시간: <span
                                        th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div th:if="${objects.getTotalElements() == 0}">
            <p>게시글이 없습니다.</p>
        </div>

        <!-- 페이징 처리 시작-->
        <div th:insert="~{common/paging.html}"></div>
        <!-- 페이징 처리 끝-->

    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
