<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/post/list.css"/>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">

        <h5>검색 결과 <span th:text="${objects.getTotalElements()}"></span> 건</h5>

        <hr>

        <div class="post-list" th:if="${objects.getTotalElements() > 0}">
            <a th:each="post : ${objects}" th:href="@{/posts/{postId}(postId=${post.postId()})}" class="post-card">
                <img class="post-card-img" th:if="${post.imageUrl}" th:src="${post.imageUrl}" alt="썸네일">
                <img class="post-card-img" th:if="${post.imageUrl == null}" src="/image/logo.png" alt="이벤트 이미지">
                <div class="post-card-body">
                    <div class="post-card-title" th:text="${post.title}"></div>
                    <div class="post-card-meta">
                        <img th:src="@{/profile/{gradeName}.png (gradeName=${post.gradeName()})}" alt="프로필">
                        <span th:text="${post.writer}"></span>
                    </div>
                    <div class="post-card-stats">
                        <span>조회수: <span th:text="${post.viewCount}"></span></span>
                        <span>추천수: <span th:text="${post.recommendationCount}"></span></span>
                    </div>
                    <div class="post-card-date"
                         th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </a>
        </div>
        <div th:if="${objects.getTotalElements() == 0}">
            <p>게시글이 없습니다.</p>
        </div>

        <!-- 페이징 처리 시작-->
        <div th:insert="~{common/paging.html}"></div>
        <!-- 페이징 처리 끝-->

    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
