<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
</head>

<body>
<div layout:fragment="content">

    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>포인트 관리</h5>
                </section>
                <hr>
                <section id="page-body">
                    <h3>포인트 수정 폼</h3>
                    <form th:action="@{/points/{pointId} (pointId=${point.pointId})}" th:method="put"
                          th:object="${point}">

                        <div class="form-group">
                            <label for="name">포인트 이름</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}" required>
                        </div>

                        <div class="form-group">
                            <label for="amount">포인트 양</label>
                            <input type="number" class="form-control" id="amount" th:field="*{amount}" required>
                        </div>

                        <button type="submit" class="btn btn-primary">수정</button>
                        <a class="btn btn-secondary" onclick="history.back()">취소</a>
                    </form>
                </section>
            </section>
        </section>

    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
