<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/user/me.css"/>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>회원 관리</h5>
                </section>

                <hr>

                <div class="container my-page-container">
                    <!-- User Basic Info -->
                    <div class="card mb-4">
                        <div class="card-header">
                            <h6>회원 정보</h6>
                            <a th:href="@{/users/{userId}/updateForm (userId=${userId})}"
                               class="btn btn-info inline-text">수정</a>

                        </div>
                        <div class="card-body">
                            <!--                                <p><strong>이름:</strong> <span th:text="${user.name}"></span></p>-->
                            <p><strong>닉네임:</strong> <span th:text="${user.nickname}"></span></p>
                            <p><strong>이메일:</strong> <span th:text="${user.email}"></span></p>
                            <!--                                <p><strong>전화번호:</strong> <span th:text="${user.phone}"></span></p>-->
                            <!--                                <p><strong>생년월일:</strong> <span th:text="${user.birth}"></span></p>-->
                            <!--                                <p><strong>성별:</strong> <span th:text="${user.gender}"></span></p>-->
                            <P>※이벤터 주요 공지사항/소식 등이 발송됩니다.</P>
                            <p><strong>포인트:</strong> <span th:text="${user.point}"></span></p>
                        </div>
                    </div>


                    <!-- User Status & Grade -->
                    <div class="card mb-4">
                        <div class="card-header">
                            <h6>회원 특성</h6>
                            <a th:href="@{/users/{userId}/attributeForm (userId=${userId})}"
                               class="btn btn-info inline-text">수정</a>
                        </div>
                        <div class="card-body">
                            <p><strong>회원 상태:</strong> <span th:text="${user.statusName}"></span></p>
                            <p><strong>회원 등급:</strong> <span th:text="${user.gradeName}"></span></p>
                            <p><strong>회원 권한:</strong> <span th:text="${user.roles}"></span></p>
                        </div>
                    </div>

                    <!-- User Activity Info -->
                    <div class="card mb-4">
                        <div class="card-header">
                            <h6>활동 정보</h6>
                        </div>
                        <div class="card-body">
                            <p><strong>가입 SNS:</strong> <span th:text="${user.oauthType}"></span></p>
                            <p><strong>회원 가입일:</strong> <span
                                    th:text="${#temporals.format(user.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                            </p>
                            <p><strong>정보 수정 시간:</strong> <span
                                    th:text="${#temporals.format(user.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                            </p>
                            <p><strong>닉네임 변경 시간:</strong> <span
                                    th:text="${#temporals.format(user.nicknameChangedAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                            </p>
                            <p><strong>로그인 시간:</strong> <span
                                    th:text="${#temporals.format(user.loginAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div style="display: flex; align-items: center;">
                    <a th:href="@{/users}" class="btn btn-secondary">뒤로가기</a>
                </div>
            </section>
        </section>
    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
