<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/image/logo.png" type="image/x-icon">
    <title>이벤터</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/common/frame.css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/user/modifyPasswordForm.css"/>
</head>

<body>

<header th:insert="~{common/header}"></header>

<div class="wrapper">
    <div class="main-content">
        <div class="body-container">
            <section id="page">
                <section id="page-menu-container" th:insert="~{common/user-menu.html}"></section>
                <section id="page-content">
                    <section id="page-header">
                        <h5>비밀번호 변경</h5>
                    </section>
                    <hr style="width: 100%"/>
                    <section id="page-body">
                        <form action="/users/me/password" th:method="put">
                            <div class="form-group">
                                <label for="currentPassword"><strong>현재 비밀번호</strong></label>
                                <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="newPassword"><strong>신규 비밀번호</strong></label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword"
                                       minlength="8" maxlength="100" required>
                                <small class="form-text text-muted">비밀번호는 8~100자로 되어야 합니다.</small>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword"><strong>비밀번호 확인</strong></label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                       required>
                                <small id="passwordFeedback" class="form-text"></small>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">비밀번호 변경</button>
                                <button class="btn btn-secondary" onclick="history.back()">취소</button>
                            </div>
                        </form>
                    </section>
                </section>
            </section>
        </div>
    </div>
</div>

<footer th:insert="~{/common/footer}"></footer>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/user/confirmPassword.js"></script>
<script src="/js/user/certifyEmail.js"></script>

</body>
</html>
