<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <div class="row justify-content-center no-gutters">
            <div class="col-md-6">
                <h5>아이디 찾기</h5>
                <hr>
                <p>가입하신 이메일을 입력하시면, 해당 이메일로 아이디를 찾을 수 있습니다.</p>

                <!-- 아이디 찾기 폼 -->
                <form action="/users/recover/identifier" method="GET">
                    <div class="form-group">
                        <label for="email">이메일 주소</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="이메일을 입력해주세요"
                               required>
                    </div>
                    <button type="button" class="btn btn-primary btn-block" onclick="recoverIdentifier()">아이디 찾기
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="/js/user/recoverIdentifier.js"></script>
</th:block>
</body>
</html>
