<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/signup/signup.css"/>
</head>

<body>
<div layout:fragment="content">
    <form class="signup-form-container" id="sign-up-form" action="/users/signup" method="post">
        <h5 class="text-center mb-4">회원가입</h5>

        <div class="mb-2">
            <input id="identifier" type="text" name="identifier" class="form-control" placeholder="아이디" required>
            <small id="identifierFeedback" class="form-text text-muted"></small>
        </div>

        <div class="mb-2">
            <input id="newPassword" type="password" name="password" class="form-control" placeholder="비밀번호"
                   required>
        </div>

        <div class="mb-2">
            <input id="confirmPassword" type="password" name="confirmPassword" class="form-control"
                   placeholder="비밀번호 확인" required>
            <small id="passwordFeedback" class="form-text"></small>
        </div>

        <!--            <div class="mb-2">-->
        <!--                <input id="name" type="text" name="name" class="form-control" placeholder="이름" required>-->
        <!--            </div>-->

        <div class="mb-2">
            <input id="nickname" type="text" name="nickname" class="form-control" placeholder="닉네임" required>
            <small id="nicknameFeedback" class="form-text text-muted"></small>
        </div>

        <!--            <div class="mb-2">-->
        <!--                <div class="email-input-container">-->
        <!--                    <input id="email" type="email" name="email" placeholder="이메일을 입력해주세요"-->
        <!--                           required>-->
        <!--                    <button type="button" class="btn btn-sm btn-outline-primary" onclick="sendEmail()">-->
        <!--                        인증번호-->
        <!--                    </button>-->
        <!--                </div>-->
        <!--            </div>-->

        <div class="mb-2" id="verify-code-row">
            <div class="email-input-container">
                <input id="certifyCode" type="text" placeholder="인증번호를 입력해주세요" required>
                <button type="button" class="btn btn-sm btn-outline-primary inline-text"
                        onclick="sendEmail()">인증번호
                </button>
            </div>
        </div>

        <!--            <div class="mb-2">-->
        <!--                <input id="birth" type="number" name="birth" class="form-control" placeholder="생년월일 8자리" required>-->
        <!--            </div>-->

        <!--            <div class="mb-2">-->
        <!--                <div class="gender-options">-->
        <!--                    <label><input id="male" type="radio" name="gender" value="M" required> 남자</label>-->
        <!--                    <label><input id="female" type="radio" name="gender" value="F"> 여자</label>-->
        <!--                </div>-->
        <!--            </div>-->

        <!--            <div class="mb-2">-->
        <!--                <input id="phone" type="text" name="phone" class="form-control" placeholder="휴대전화 번호" required>-->
        <!--            </div>-->

        <button type="submit" id="signupButton" class="signup-button btn btn-primary" disabled>회원가입</button>
    </form>
</div>

<th:block layout:fragment="script">
    <script src="/js/user/signup.js"></script>
    <script src="/js/user/checkIdentifier.js"></script>
    <script src="/js/user/checkPassword.js"></script>
    <script src="/js/user/checkNickname.js"></script>
    <script src="/js/user/certifyEmail.js"></script>
</th:block>

</body>
</html>
