<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/signup/signup.css"/>
</head>

<body>
<div layout:fragment="content">
    <form class="signup-form-container" id="sign-up-form" action="/users/signup" method="post">
        <h5 class="text-center mb-4">회원가입</h5>

        <p>이메일 형식의 아이디만 가입 가능합니다.</p>
        <div class="form-group">
            <div class="email-input-container">
                <input id="identifier" type="text" name="identifier" class="form-control" placeholder="아이디"
                       required>
                <button type="button" id="certify-button" class="btn btn-sm btn-outline-primary inline-text"
                        onclick="sendEmail()">인증번호
                </button>
            </div>
            <small id="identifierFeedback" class="form-text text-muted"></small>
        </div>

        <div class="form-group email-input-container" id="verify-code-row">
            <input id="certify-code" type="text" placeholder="인증번호를 입력해주세요" required>
            <button type="button" class="btn btn-sm btn-outline-primary inline-text"
                    onclick="certifySignUpCode()">인증번호 확인
            </button>
        </div>

        <div class="form-group">
            <input id="newPassword" type="password" name="password" class="form-control" placeholder="비밀번호"
                   required>
        </div>

        <div class="form-group">
            <input id="confirmPassword" type="password" name="confirmPassword" class="form-control"
                   placeholder="비밀번호 확인" required>
            <small id="passwordFeedback" class="form-text"></small>
        </div>

        <div class="form-group">
            <input id="nickname" type="text" name="nickname" class="form-control" placeholder="닉네임" required>
            <small id="nicknameFeedback" class="form-text text-muted"></small>
        </div>

        <button type="submit" id="signupButton" class="signup-button btn btn-primary" disabled>회원가입</button>
    </form>
</div>

<th:block layout:fragment="script">
    <script src="/js/user/checkIdentifier.js"></script>
    <script src="/js/user/confirmPassword.js"></script>
    <script src="/js/user/checkNickname.js"></script>
    <script src="/js/user/certifyEmail.js"></script>
    <script src="/js/user/checkSignupCondition.js"></script>
</th:block>
</body>
</html>
