<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      th:with="titlePrefix='회원가입'" lang="ko">
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/signup/signup.css"/>
</head>

<body>
<div layout:fragment="content">
    <form class="signup-form-container mb-2" id="signupForm" action="/users/signup" method="post">
        <h5 class="text-center fw-bold">회원가입</h5>
        <hr>
        <p>이메일 형식의 아이디만 가입 가능합니다.</p>
        <div class="mb-2">
            <div class="d-flex align-items-center gap-2">
                <input class="form-control" id="type" type="hidden" name="type" value="회원가입">
                <input class="form-control" id="email" type="email" name="identifier" placeholder="아이디" required>
                <button type="button" id="certifyButton" class="btn btn-outline-primary"
                        onclick="sendEmail()" disabled>인증번호
                </button>
            </div>
            <small id="identifierFeedback" class="form-text text-muted"></small>
        </div>

        <div class="mb-2">
            <div class="d-flex align-items-center gap-2">
                <input class="form-control" id="certifyCode" type="text" placeholder="인증번호를 입력해주세요" required>
                <button type="button" id="certifyCodeButton" class="btn btn-outline-primary">
                    인증번호 확인
                </button>
            </div>
        </div>

        <div class="mb-2 position-relative">
            <input class="form-control pr-5" id="password" type="password" name="password" placeholder="비밀번호"
                   minlength="8" maxlength="50" required>
            <i class="fa-solid fa-eye-slash position-absolute end-0 top-50 translate-middle-y me-3" id="togglePassword"
               style="cursor: pointer;"></i>
        </div>
        <div><small id="passwordFeedback" class="form-text text-muted"></small></div>

        <div class="mb-2 position-relative">
            <input class="form-control" id="confirmPassword" type="password" name="confirmPassword"
                   placeholder="비밀번호 확인" minlength="8" maxlength="50" required>
            <i class="fa-solid fa-eye-slash position-absolute end-0 top-50 translate-middle-y me-3"
               id="toggleConfirmPassword"
               style="cursor: pointer;"></i>
        </div>
        <div><small id="confirmPasswordFeedback" class="form-text text-muted"></small></div>

        <div class="mb-2">
            <input class="form-control" id="nickname" type="text" name="nickname" placeholder="닉네임" required>
            <small id="nicknameFeedback" class="form-text text-muted"></small>
        </div>

        <button type="submit" id="signupButton" class="signup-button btn btn-primary" disabled>회원가입</button>
    </form>
</div>

<th:block layout:fragment="script">
    <script src="/js/user/signup.js"></script>
    <script src="/js/user/checkIdentifier.js"></script>
    <script src="/js/user/checkPassword.js"></script>
    <script src="/js/user/checkNickname.js"></script>
    <script src="/js/user/certifyEmail.js"></script>
</th:block>
</body>
</html>
