<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/user-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>비밀번호 변경</h5>
                </section>
                <hr>
                <section id="page-body">
                    <form id="updatePasswordForm" action="/users/me/password" th:method="put">
                        <div class="mb-2">
                            <label for="currentPassword"><strong>현재 비밀번호</strong></label>
                            <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                                   required>
                        </div>
                        <div class="mb-2">
                            <label for="password"><strong>신규 비밀번호</strong></label>
                            <input type="password" class="form-control" id="password" name="password"
                                   minlength="8" maxlength="100" required>
                            <small id="passwordFeedback" class="form-text text-muted"></small>
                        </div>
                        <div class="mb-2">
                            <label for="confirmPassword"><strong>비밀번호 확인</strong></label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                   required>
                            <small id="confirmPasswordFeedback" class="form-text text-muted"></small>
                        </div>
                        <div class="mb-2">
                            <button class="btn btn-primary" type="submit" id="updatePasswordButton" disabled>비밀번호 변경
                            </button>
                            <a class="btn btn-secondary" href="/users/me">취소</a>
                        </div>
                    </form>
                </section>
            </section>
        </section>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="/js/user/updatePasswordForm.js"></script>
    <script src="/js/user/checkPassword.js"></script>
    <script src="/js/user/certifyEmail.js"></script>
</th:block>
</body>
</html>
