footer {
    background-color: #343a40; /* 푸터 배경색 */
    color: #fff; /* 텍스트 색상 */
    text-align: center; /* 텍스트 중앙 정렬 */
    position: relative; /* 상대 위치 */
    width: 100%; /* 전체 너비 */
    padding: 5px 0; /* 상하 패딩 추가 */
    margin-top: auto; /* 푸터를 페이지 하단으로 밀어내기 */
    border-top: 3px solid black;
    font-size: 14px;
}

.footer-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.footer-row {
    display: flex; /* 플렉스 박스 사용 */
    justify-content: space-between; /* 좌우 정렬 */
    align-items: center; /* 수직 정렬 */
    flex-wrap: wrap; /* 필요 시 줄 바꿈 */
}

.footer-left, .footer-right {
    flex: 1; /* 각 열이 동일한 너비를 가지도록 */
    padding: 10px; /* 패딩 추가 */
}

.footer-left {
    text-align: left; /* 왼쪽 정렬 */
}

.footer-right {
    text-align: right; /* 오른쪽 정렬 */
}

.footer-bottom {
    margin-top: 10px; /* 하단 텍스트와 위의 내용 사이의 여백 */
    font-size: 14px; /* 하단 텍스트 크기 */
}

.footer-right a {
    color: inherit; /* 부모 요소의 색상 유지 */
    text-decoration: none; /* 밑줄 제거 */
}

.footer-right a:hover {
    text-decoration: underline; /* 마우스 올릴 때만 밑줄 표시 */
}

.footer-social a {
    margin-right: 10px;
    font-size: 1.5rem;
    color: white;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #ff4d4d;
}