<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      th:with="titlePrefix='카테고리 관리'" lang="ko">
<head>

</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>카테고리 관리</h5>
                </section>
                <hr>
                <section id="page-body">
                    <h3>카테고리 리스트</h3>
                    <h3><a th:href="@{/categories/create}" class="btn btn-primary">카테고리 추가</a></h3>

                    <hr>

                    <div th:if="${objects.getTotalElements() > 0}">

                        <div th:each="category, index : ${objects}"
                             th:style="'margin-left: ' + ${category.depth * 20} + 'px'">
                            <div class="action-buttons">
                                <div th:text="${(objects.number * objects.size) + index.count} +'.'"
                                     style="margin-right: 10px"></div>
                                <div th:text="${category.name}" style="margin-right: 10px"></div>
                                <a th:href="@{/categories/update/{categoryId} (categoryId=${category.categoryId})}"
                                   class="btn btn-sm btn-warning inline-text">편집</a>
                                <form th:action="@{/categories/{categoryId} (categoryId=${category.categoryId})}"
                                      th:method="delete">
                                    <button type="submit" class="btn btn-sm btn-danger inline-text">삭제</button>
                                </form>
                            </div>
                            <hr>
                        </div>

                    </div>
                    <div th:if="${objects.getTotalElements() == 0}">
                        <p>카테고리가 없습니다.</p>
                    </div>

                    <!-- 페이징 처리 시작-->
                    <div th:insert="~{common/paging.html}"></div>
                    <!-- 페이징 처리 끝-->

                </section>
            </section>

        </section>
    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
