.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-header .left, .post-header .right {
    display: flex;
    justify-content: space-between;
}

/* 이미지 갤러리 스타일 */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* 개별 이미지 컨테이너 */
.image-container {
    position: relative;
    max-width: 100%; /* 본문을 벗어나지 않도록 제한 */
    max-height: 600px; /* 이미지 최대 높이 제한 */
    overflow: hidden; /* 컨테이너 크기 초과 이미지는 숨김 */
}

/* 이미지 스타일 */
.image-container img {
    width: auto; /* 이미지 원래 비율 유지 */
    height: auto; /* 이미지 원래 비율 유지 */
    max-width: 100%; /* 컨테이너 크기를 초과하지 않음 */
    max-height: 100%; /* 컨테이너 크기를 초과하지 않음 */
    display: block;
}