<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/image/logo.png" type="image/x-icon">
    <title>이벤터</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/common/frame.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main/main.css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<body>

<header th:insert="~{common/header}"></header>

<div class="wrapper">
    <div class="main-content">
        <div class="top-container2">

            <div class="event-section">
                <span>즐겨찾기: </span>
                <div th:each="bookmark : ${bookmarks}" style="display: inline;">
                    <a th:href="@{/posts(categoryName=${bookmark.categoryName()})}"
                       class="btn btn-sm btn-outline-primary"
                       style="width: 120px;">
                        <span th:text="${bookmark.categoryName()}"></span>
                    </a>

                </div>

                <h3>핫 이벤트</h3>
                <div class="event-slider">
                    <div th:if="${hotPosts.size() > 0}" th:each="post : ${hotPosts}">
                        <div class="event-card">
                            <!-- 이미지 클릭 시 상세보기 페이지로 이동 -->
                            <a th:href="@{/posts/{postId} (postId=${post.postId()})}">
                                <img th:if="${post.imageUrl}" th:src="${post.imageUrl}" alt="이벤트 이미지">
                                <img th:if="${post.imageUrl == null}" src="/image/logo.png" alt="이벤트 이미지">
                            </a>
                            <div class="event-card-body">
                                <div class="event-card-title" th:text="${post.title}"></div>
                            </div>
                        </div>
                    </div>
                    <p th:if="${hotPosts.size() == 0}">핫 이벤트가 없습니다.</p>
                </div>
            </div>

            <div class="event-section">
                <h3>최신 이벤트</h3>
                <div class="event-slider">
                    <div th:if="${latestPosts.size() > 0}" th:each="post : ${latestPosts}">
                        <div class="event-card">
                            <!-- 이미지 클릭 시 상세보기 페이지로 이동 -->
                            <a th:href="@{/posts/{postId} (postId=${post.postId()})}">
                                <img th:if="${post.imageUrl}" th:src="${post.imageUrl}" alt="이벤트 이미지">
                                <img th:if="${post.imageUrl == null}" src="/image/logo.png" alt="이벤트 이미지">
                            </a>
                            <div class="event-card-body">
                                <div class="event-card-title" th:text="${post.title}"></div>
                            </div>
                        </div>
                    </div>
                    <p th:if="${latestPosts.size() == 0}">최신 이벤트가 없습니다.</p>
                </div>
            </div>

            <div class="event-section">
                <h3>추천 이벤트</h3>
                <div class="event-slider">
                    <div th:if="${recommendedPosts.size() > 0}" th:each="post : ${recommendedPosts}">
                        <div class="event-card">
                            <!-- 이미지 클릭 시 상세보기 페이지로 이동 -->
                            <a th:href="@{/posts/{postId} (postId=${post.postId()})}">
                                <img th:if="${post.imageUrl}" th:src="${post.imageUrl}" alt="이벤트 이미지">
                                <img th:if="${post.imageUrl == null}" src="/image/logo.png" alt="이벤트 이미지">
                            </a>
                            <div class="event-card-body">
                                <div class="event-card-title" th:text="${post.title}"></div>
                            </div>
                        </div>
                    </div>
                    <p th:if="${recommendedPosts.size() == 0}">추천 이벤트가 없습니다.</p>
                </div>
            </div>


        </div>
    </div>
</div>

<footer th:insert="~{/common/footer}"></footer>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="/js/post/slider.js"></script>
</body>
</html>
