<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main/main.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
<div layout:fragment="content">
    <div class="main-page-container">

        <div th:if="${isLogin}">
            <strong>즐겨찾기: </strong>
            <div th:each="bookmark : ${bookmarks}" style="display: inline;">
                <a class="btn btn-sm btn-outline-primary" th:href="@{/posts(categoryName=${bookmark.categoryName})}">
                    <span th:text="${bookmark.categoryName}"></span>
                </a>
            </div>
        </div>

        <hr>

        <div class="event-section">
            <h3>🔥 핫 이벤트</h3>
            <div class="top-slider">
                <div th:if="${hotPosts.size() > 0}" th:each="post : ${hotPosts}">
                    <a th:href="@{/posts/{postId} (postId=${post.postId})}">
                        <div class="top-card">
                            <div class="top-card-body">
                                <div class="top-card-title" th:text="${post.title}"></div>
                                <div class="top-card-period">
                                    기간:
                                    <span th:text="${#temporals.format(post.startTime, 'yyyy.MM.dd')}"></span> ~
                                    <span th:text="${#temporals.format(post.endTime, 'yyyy.MM.dd')}"></span>
                                </div>
                                <button class="top-card-detail-btn">자세히 보기</button>
                            </div>

                            <img th:if="${post.imageUrl == null}" src="/image/logo.png" alt="썸네일"/>
                            <img th:if="${post.imageType == 'image'}" th:src="${post.imageUrl}" alt="썸네일"/>
                            <video th:if="${post.imageType == 'video'}" th:src="${post.imageUrl}"></video>
                        </div>
                    </a>
                </div>
                <p th:if="${hotPosts.size() == 0}">핫 이벤트가 없습니다.</p>
            </div>
        </div>

        <!--ㅡ최신 이벤트ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
        <div class="event-section">
            <h3>🌟 최신 이벤트</h3>
            <div class="event-slider">
                <div th:if="${latestPosts.size() > 0}" th:each="post : ${latestPosts}">
                    <div>
                        <!-- 이미지 클릭 시 상세보기 페이지로 이동 -->
                        <a th:href="@{/posts/{postId} (postId=${post.postId})}">
                            <div class="event-card">
                                <img th:if="${post.imageUrl == null}" src="/image/logo.png" alt="썸네일"/>
                                <img th:if="${post.imageType == 'image'}" th:src="${post.imageUrl}" alt="썸네일"/>
                                <video th:if="${post.imageType == 'video'}" th:src="${post.imageUrl}"></video>

                                <div class="event-card-body">
                                    <div class="event-card-title" th:text="${post.title}"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <p th:if="${latestPosts.size() == 0}">최신 이벤트가 없습니다.</p>
            </div>
        </div>

        <div class="event-more-btn-container">
            <a href="/posts?categoryName=이벤트" class="custom-event-more-btn">이벤트 더보기</a>
        </div>

        <!--ㅡ마감 직전 이벤트ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
        <div class="event-section">
            <h3>⏰️ 마감 임박 이벤트</h3>
            <div class="event-slider">
                <div th:if="${deadlinePosts.size() > 0}" th:each="post : ${deadlinePosts}">
                    <div>
                        <a th:href="@{/posts/{postId} (postId=${post.postId})}">
                            <div class="event-card">
                                <img th:if="${post.imageUrl == null}" src="/image/logo.png" alt="썸네일"/>
                                <img th:if="${post.imageType == 'image'}" th:src="${post.imageUrl}" alt="썸네일"/>
                                <video th:if="${post.imageType == 'video'}" th:src="${post.imageUrl}"></video>

                                <div class="event-card-body">
                                    <div class="event-card-title" th:text="${post.title}"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <p th:if="${deadlinePosts.size() == 0}">마감 임박 이벤트가 없습니다.</p>
            </div>
        </div>

        <!--ㅡ추천 이벤트ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
        <h3>✅ 추천 이벤트</h3>
        <div class="recommended-container">
            <div class="recommended-wrapper">
                <!-- 왼쪽: 추천 배너 슬라이드 -->
                <div class="recommend-slider">
                    <div th:each="post : ${recommendedPosts}">
                        <div class="recommend-event-card">
                            <a th:href="@{/posts/{postId} (postId=${post.postId})}">
                                <img th:if="${post.imageUrl == null}" src="/image/logo.png" alt="썸네일"/>
                                <img th:if="${post.imageType == 'image'}" th:src="${post.imageUrl}" alt="썸네일"/>
                                <video th:if="${post.imageType == 'video'}" th:src="${post.imageUrl}"></video>
                            </a>
                            <div class="recommend-event-card-body">
                                <div class="recommend-event-card-title" th:text="${post.title}"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 오른쪽: 추천 목록 -->
                <div class="recommended-list recommend-vertical-slider">
                    <a th:each="post : ${recommendedPosts}" th:href="@{/posts/{postId} (postId=${post.postId})}">
                        <div class="recommended-card">
                            <img th:if="${post.imageUrl == null}" src="/image/logo.png" alt="썸네일"/>
                            <img th:if="${post.imageType == 'image'}" th:src="${post.imageUrl}" alt="썸네일"/>
                            <video th:if="${post.imageType == 'video'}" th:src="${post.imageUrl}"></video>
                            <!-- 제목 및 추가 정보 -->
                            <div class="recommended-card-body">
                                <span class="recommend-list-title" th:text="${post.title}"></span>
                                <div class="recommend-list-data">
                                    <div class="post-card-meta">
                                        <img th:src="@{/profile/{gradeName}.png (gradeName=${post.writerGrade})}"
                                             alt="프로필">
                                        <span th:text="${post.writer}"></span>
                                    </div>
                                    <div class="recommend-stats">
                                        조회수 <span th:text="${post.viewCount}"></span> ·
                                        추천수 <span th:text="${post.recommendationCount}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>

        <!--ㅡ인기 급상승 이벤트ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
        <h3>📈 인기 급상승 이벤트</h3>
        <div class="recommended-container">
            <div class="recommended-wrapper">
                <!-- 왼쪽: 추천 배너 슬라이드 -->
                <div class="recommend-slider">
                    <div th:each="post : ${trendingPosts}">
                        <div class="recommend-event-card">
                            <a th:href="@{/posts/{postId} (postId=${post.postId})}">
                                <img th:if="${post.imageUrl == null}" src="/image/logo.png" alt="썸네일"/>
                                <img th:if="${post.imageType == 'image'}" th:src="${post.imageUrl}" alt="썸네일"/>
                                <video th:if="${post.imageType == 'video'}" th:src="${post.imageUrl}"></video>
                            </a>
                            <div class="recommend-event-card-body">
                                <div class="recommend-event-card-title" th:text="${post.title}"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 오른쪽: 추천 목록 -->
                <div class="recommended-list recommend-vertical-slider">
                    <a th:each="post : ${trendingPosts}" th:href="@{/posts/{postId} (postId=${post.postId})}">
                        <div class="recommended-card">
                            <!-- 썸네일 이미지 -->
                            <img th:if="${post.imageUrl == null}" src="/image/logo.png" alt="썸네일"/>
                            <img th:if="${post.imageType == 'image'}" th:src="${post.imageUrl}" alt="썸네일"/>
                            <video th:if="${post.imageType == 'video'}" th:src="${post.imageUrl}"></video>
                            <!-- 제목 및 추가 정보 -->
                            <div class="recommended-card-body">
                                <span class="recommend-list-title" th:text="${post.title}"></span> <!-- 제목 -->
                                <div class="recommend-list-data">
                                    <div class="post-card-meta">
                                        <img th:src="@{/profile/{gradeName}.png (gradeName=${post.writerGrade})}"
                                             alt="프로필">
                                        <span th:text="${post.writer}"></span>
                                    </div>
                                    <div class="recommend-stats">
                                        조회수 <span th:text="${post.viewCount}"></span> ·
                                        추천수 <span th:text="${post.recommendationCount}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>

        <!--ㅡ자유 카테고리 최신글ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
        <div class="event-section">
            <h3>💬 커뮤니티</h3>
            <div class="community-slider">
                <div th:if="${latestPosts.size() > 0}" th:each="post : ${communityPosts}">
                    <div>
                        <a th:href="@{/posts/{postId} (postId=${post.postId})}">
                            <div class="event-card">
                                <img th:if="${post.imageUrl == null}" src="/image/logo.png" alt="썸네일"/>
                                <img th:if="${post.imageType == 'image'}" th:src="${post.imageUrl}" alt="썸네일"/>
                                <video th:if="${post.imageType == 'video'}" th:src="${post.imageUrl}"></video>

                                <div class="event-card-body">
                                    <div class="event-card-title" th:text="${post.title}"></div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <p th:if="${latestPosts.size() == 0}">커뮤니티 최신글이 없습니다.</p>
            </div>
        </div>

    </div>
</div>

<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="/js/post/slider.js"></script>
</th:block>
</body>
</html>
