<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      lang="ko">
<head>
    <th:block th:replace="~{common/fragments/config}"></th:block>
</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>댓글 목록</h5>
                </section>
                <hr>
                <section id="page-body">
                    <div th:if="${objects.getTotalElements() > 0}">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 10%;">번호</th>
                                <th style="width: 25%;">내용</th>
                                <th style="width: 15%;">작성자</th>
                                <th style="width: 10%;">추천수</th>
                                <th style="width: 10%;">비추천수</th>
                                <th style="width: 20%;">날짜</th>
                                <th style="width: 10%;">삭제</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="comment, index : ${objects}">
                                <td th:text="${(objects.totalElements - (objects.number * objects.size + index.count)) + 1}"></td>
                                <td>
                                    <!-- 제목을 클릭하면 해당 게시글로 이동, 댓글 ID를 앵커로 포함 -->
                                    <a th:href="@{/posts/{postId}/comments/{commentId} (postId=${comment.postId}, commentId=${comment.commentId})}"
                                       th:text="${comment.content}"></a>
                                </td>
                                <td>
                                    <span class="ml-2" th:text="${comment.writer}"></span>
                                </td>
                                <td th:text="${comment.recommendationCount}"></td>
                                <td th:text="${comment.decommendationCount}"></td>
                                <td th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                                <td>
                                    <form th:action="@{/posts/{postId}/comments/{commentId} (postId=${comment.postId}, commentId=${comment.commentId})}"
                                          th:method="delete">
                                        <button type="submit" class="btn btn-sm btn-danger inline-text">삭제</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${objects.getTotalElements() == 0}">
                        <p>댓글이 없습니다.</p>
                    </div>

                    <!-- 페이징 처리 시작-->
                    <div th:insert="~{common/paging.html}"></div>
                    <!-- 페이징 처리 끝-->

                </section>
            </section>

        </section>


    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
