<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/fragments/defaultLayout}"
      th:with="titlePrefix='상태 추가'" lang="ko">
<head>

</head>

<body>
<div layout:fragment="content">
    <div class="body-container">
        <section id="page">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>상태 관리</h5>
                </section>
                <hr>
                <section id="page-body">
                    <h3>상태 추가 폼</h3>
                    <form action="/statuses" method="post">
                        <div class="mb-2">
                            <label for="statusTypeId">상태 유형 이름</label>
                            <select class="form-control" id="statusTypeId" name="statusTypeId" required>
                                <option value="" disabled selected>상태 유형을 선택하세요</option>
                                <option th:each="statusType : ${statusTypes}"
                                        th:value="${statusType.statusTypeId}"
                                        th:text="${statusType.name}">
                                </option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="name">상태 이름</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <button type="submit" class="btn btn-primary">추가</button>
                        <a class="btn btn-secondary" onclick="history.back()">취소</a>
                    </form>
                </section>
            </section>
        </section>
    </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
