<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/image/free-icon-event.png" type="image/x-icon">
    <title>이벤터</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/common/frame.css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<header th:insert="~{common/header}"></header>

<div class="wrapper">
    <div class="main-content">
        <section id="page" class="top-container">
            <section id="page-menu-container" th:insert="~{common/admin-menu.html}"></section>
            <section id="page-content">
                <section id="page-header">
                    <h5>상태 관리</h5>
                </section>
                <hr style="width: 100%"/>
                <section id="page-body">
                    <h3>상태 리스트</h3>
                    <h3><a th:href="@{/statuses/create}" class="btn btn-primary">상태 추가</a></h3>
                    <div th:if="${statuses.size() > 0}">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="inline-text">
                                <th>번호</th>
                                <th>상태 유형</th>
                                <th>상태 이름</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="status, index : ${statuses}">
                                <td th:text="${index.index + 1}">1</td>
                                <td th:text="${status.statusTypeName()}">상태 유형 이름</td>
                                <td th:text="${status.name()}">상태 이름</td>
                                <td style="display: flex; align-items: center;">
                                    <a th:href="@{/statuses/update/{statusId} (statusId=${status.statusId()})}"
                                       class="btn btn-warning inline-text">편집</a>
                                    <form th:action="@{/statuses/{statusId} (statusId=${status.statusId()})}"
                                          th:method="delete">
                                        <button type="submit" class="btn btn-danger inline-text">삭제</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${statuses.size() == 0}">
                        <p>상태이 없습니다.</p>
                    </div>
                </section>
            </section>

        </section>
    </div>
</div>

<footer th:insert="~{common/footer}"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
